{% set use_question_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}

<div class="content-block measure">

  {% if session.disposition.revisiting %}
    <a href="/forced-callback/disposition-callback-first-001" class="button-back">Back</a>
  {% endif %}

  <h1 class="h2">{{ question }}</h1>

  {% if help %}
    <div class="callout {% if session.disposition.revisiting == true %}callout--warning{% else %}callout--info{% endif %}">
      <p>{{ help }}</p>
    </div>
  {% endif %}

  <form action="question-handler" method="post" class="form">

    <div class="form-group">
      <fieldset>
        {% for answer in answers %}
          <label class="block-label">
            <input id="{{ loop.index0 }}" name="answer" value="{{ answer }}" type="radio" class="selection-button-radio">
            <span>
              {{ answer }}
              {% if session.disposition.revisiting == true and session.disposition.answer == answer %}
                <span class="highlighter">
                  &mdash; this means we can’t rule out a serious condition
                </span>
              {% endif %}
            </span>
          </label>
        {% endfor %}
      </fieldset>
    </div>

    <input type="hidden" name="num" value="{{ count }}">
    <input type="hidden" name="question" value="{{ question }}">
    <input type="hidden" name="help" value="{{ help }}">
    <input type="hidden" name="next" value="{{ next }}">

    <div class="form-group">
      <p><button type="submit" class="button">Next</button></p>
      {% if count !== 0 and session.disposition.revisiting == false %}
        <p><a href="{{ prev }}">Change my previous answer</a></p>
      {% endif %}
    </div>

  </form>

</div>

{% endblock %}

{% block footer %}{% endblock %}
