{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">A nurse from 111 will phone you</h1> <!-- A 111 nurse will phone you A nurse from 111 will phone you -->
  <div class="content-seperator"></div>

  <div class="precis">Enter a postcode so we can find a suitable local service</div>

</div>

<div class="measure">

  <div class="content-block">

      {% if error.general %}
        <div class="error-summary">
          <div>
            <h3>There's a problem</h3>
            <p>{{ error.general }}</p>
          </div>
        </div>
      {% endif %}

  <p>The 111 nurse should phone in 20 minutes and will</p>

  <ul>
    <li>have your answers</li>
    <li>advise you what to do</li>
    <li>book an appointment, if needed, with an NHS service</li>
  </ul>

  <div class="callout callout--info">
  <p>This postcode finds the nearest 111 service and is where you will get care. It's usually your home postcode.</p>
  </div>

  <form method="post" class="formmodule">
    <fieldset>
      <div class="form-group {% if error.postcode %}-errors error-indent{% endif %}">
        <div>
          <label for="postcode">Postcode</label>
          {% if error.postcode %}
            <div class="error-hint">
              <div>
                <p>{{ error.postcode }}</p>
              </div>
            </div>
          {% endif %}
          <input type="text" id="postcode" name="postcode" value="{{ session.postcode }}" class="-small">
        </div>
      </div>
    </fieldset>

    <!-- <p><a href="home-address-manual">I’ll type in my address</a></p> -->

    <div class="form-group -controls">
      <button type="submit" class="button">Next</button>
    </div>

  </form>
 
</div>

{% endblock %}

{% block footer %}{% endblock %}
