{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">Who are you asking for?</h1>
</div>

<div class="measure">

  <form  method="post" class="measure">

    <fieldset>

      {% if error.general %}
        <div class="error-summary">
          <div>
            <p>{{ error.general }}</p>
          </div>
        </div>
      {% endif %}

      <div class="form form-group {% if error %}-errors{% endif %}">
          <label for="check-person-self" class="block-label" data-target="self-data">
          For myself
          <input type="radio" id="check-person-self" name="check-person" value="self"  {% if session.checkPerson == "self" %}checked="checked"{% endif %}>
          </label>
        </div>

        <div class="js-hidden toggle-content {% if error %}toggle-content-error{% endif %}" id="self-data">
          <div class="form-group {% if error %}-errors{% endif %}">
            <label for="first-name">First name</label>
              <input type="text" id="self-first-name" name="self-first-name" value="{{session.patient.firstName}}">
          </div>
          <div class="form-group {% if error %}-errors{% endif %}">
            <label for="last-name">Last name</label>
              <input type="text" id="self-last-name" name="self-last-name" value="{{session.patient.lastName}}">
          </div>
        </div>

        <div class="form-group {% if error %}-errors{% endif %}">
          <label for="check-person-other" class="block-label" data-target="other-data">
            For someone else
              <input type="radio" id="check-person-other" name="check-person" value="other" {% if session.checkPerson =="other" %}checked="checked" {% endif %}>
          </label>
        </div>

        <div class="js-hidden toggle-content {% if error %}toggle-content-error{% endif %}" id="other-data">
            <h3>Enter the details of the person needing care</h3>
          <div class="form-group {% if error %}-errors{% endif %}">
            <label for="first-name">First name</label>
              <input type="text" id="first-name" name="first-name" value="{{session.patient.firstName}}">
          </div>
          <div class="form-group {% if error %}-errors{% endif %}">
            <label for="last-name">Last name</label>
              <input type="text" id="last-name" name="last-name" value="{{session.patient.lastName}}">
          </div>
          <div class="content-seperator content-seperator_equalvertspacing"></div>
          <div>
            <h3>Enter the details of someone we can speak to</h3>
            <p>We'll need them to be able to answer questions about the person needing care.</p>
            <div class="form-group {% if error %}-errors{% endif %}">
              <label for="first-name">First name</label>
                <input type="text" id="informant-first-name" name="informant-first-name" value="{{session.informant.firstName}}">
            </div>
            <div class="form-group {% if error %}-errors{% endif %}">
              <label for="last-name">Last name</label>
                <input type="text" id="informant-last-name" name="informant-last-name" value="{{session.informant.lastName}}">
            </div>
          </div>
        </div>

    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Next</button>
    </div>

  </form>

</div>

{% endblock %}

{% block footer %}{% endblock %}
