{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="primary-service" class="button-back">Back</a>

  <div class="measure">
    <h1>More services that can help</h1>
  </div>
</div>

<div class="content-block">
  <h2>Places you can go</h2>
  <p>Get help as soon as you can.</p>

  <div class="map-multiple shunt-2">
    <div id="map"></div>
  </div>

  <div class="service-group">
    <div class="panel service">

      <div id="service_1" class="hook"></div>

      <div class="label small">
        <span>1</span>
      </div>

      <div class="address small">
        Emergency Department<br>
        Dewsbury District Hospital<br>
        Halifax Road<br>
        Dewsbury<br>
        WF13 4HS
      </div>

      <div class="hours small">
        Open 24 hours
      </div>

      <div class="details small">
        <div class="directions">
          <a href="javascript: return false;" id="showCenter">7.4 miles away - get directions</a>
        </div>
        <div class="contact">
          Web: <a href="https://www.midyorks.nhs.uk/accident-and-emergency1">www.midyorks.nhs.uk</a>
        </div>
      </div>

      <div class="features small measure">
        <details>
          <summary><span>More information about this service</span></summary>
          <div>
            <p>
              The emergency department is also known as accident and emergency or casualty.
            </p>
          </div>
        </details>

      </div>
    </div>

    <div class="panel service">
      <div id="service_2" class="hook"></div>
      <div class="label small">
        <span>2</span>
      </div>
      <div class="address small">
        Emergency Department<br>
        Bradford Royal Infirmary<br>
        Duckworth Lane<br>
        Bradford<br>
        BD9 6RJ
      </div>

      <div class="hours small">
        Open 24 hours
      </div>

      <div class="details small">
        <div class="directions">
          <a href="javascript: return false;">9.9 miles away - get directions</a>
        </div>
        <div class="contact">
          Web: <a href="https://www.bradfordhospitals.nhs.uk/patients-and-visitors/accident-and-emergency/">www.bradfordhospitals.nhs.uk</a>
        </div>
      </div>

      <div class="features small measure">
        <details>
          <summary><span>
            More information about this service
          </span></summary>
          <div>
            <p>
              The emergency department is also known as accident and emergency or casualty.
            </p>
          </div>
        </details>
      </div>
    </div>

  </div>

  <div>
    <a href="javascript: return false;">Change my location</a>
  </div>
</div>

<!--
<div class="content-seperator content-seperator--equal-vert-spacing"></div>

<div class="content-block">
  <h2>Services you can talk to</h2>

  <div class="service-group">
    <div class="panel remote-service">
      <div class="name small">
        A remote service
      </div>
      <div class="hours small">
        Available 24 hours
      </div>
      <div class="details small">
        <a href=""><b>Book a call</b></a>
      </div>
      <div class="features small measure">
        <details>
          <summary><span>
            More information about this service
          </span></summary>
          <div>
            <p>
              This is a service with trained mental health specialists.
            </p>
          </div>
        </details>
      </div>
    </div>

    <div class="panel remote-service">
      <div class="name small">
        A different remote service
      </div>
      <div class="hours small">
        Available 24 hours
      </div>
      <div class="details small">
        Call <a href=""><b>0800 1234 1234</b></a>
      </div>
      <div class="features small measure">
        <details>
          <summary><span>
            More information about this service
          </span></summary>
          <div>
            <p>
              Sexual health services provide contraception, testing and treatment
              for sexually transmitted infections (STIs), pregnancy advice and
              testing and help with sexual problems. Sexual assault referral
              centres offer confidential help and medical care.
            </p>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
-->

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">

  {% include 'service-display/_components/care-advice.html' %}

  <div class="callout callout--info">
    <p>
      If your symptoms get worse, call 111
    </p>
  </div>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>

    var highlightService = function() {
      var $group = $('.panel.service');
      var $target = $('#service_' + this.label.text);
      $group.removeClass('selected');
      $target.parent().addClass('selected');
      $target[0].scrollIntoView({ behavior: 'smooth', block: 'start' });
    };

    $(function() {
      mapObj = new google.maps.Map(document.getElementById('map'), {
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });

      var locations = [
        {lat: 53.701927, lng: -1.650131},
        {lat: 53.805671, lng: -1.794381}
      ];
      var markers = [];

      for (var i = 0; i < locations.length; i++) {
        var marker = new google.maps.Marker({
          position: locations[i],
          map: mapObj,
          label: {
            text: '' + (i+1),
            fontWeight: 'bold',
            color: 'white'
          }
        });
        marker.addListener('click', highlightService)
        markers.push(this);
      }

      var bounds = new google.maps.LatLngBounds();
      for (var i = 0; i < locations.length; i++) {
        bounds.extend(locations[i]);
      }
      mapObj.fitBounds(bounds);

      $('#showCenter').on('click', function(e) {
        e.preventDefault();
        var center = mapObj.getCenter();
        console.log(center.lat());
        console.log(center.lng());
      });

    });
  </script>
{% endblock %}
