{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1>Get a call from a nurse</h1>
  <p>
    How the nurse can help:
  </p>
  <ul>
    <li>they’re trained to give you the support you need</li>
    <li>they’ll tell you where you can get help, or make an appointment for you</li>
  </ul>
  <div class="callout callout--info">
    <p>
      If you don't want a call from the nurse, we can show you places to go
      instead. This may mean a longer wait.
    </p>
  </div>

  <form class="form" method="post">
    <legend><b>Do you want to book a call?</b></legend>
    <fieldset class="shunt">
      <div class="form-group">
        <label for="yes" class="block-label">
          Yes
          <input type="radio" id="yes" name="bookCall" value="yes">
        </label>
      </div>

      <div class="form-group">
        <label for="no" class="block-label">
          No
          <input type="radio" id="no" name="bookCall" value="no">
        </label>
      </div>
    </fieldset>

    <div class="form-group -controls">
      <a href="primary-service" class="button">Next</a>
    </div>
  </form>

  <div class="callout callout--attention shunt-2">
    <p>
      If you need to speak to someone for support right now, call Samaritans
      for free on 116 123.
    </p>
  </div>

</div>



{% endblock %}
