{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="offer-callback" class="button-back">Back</a>

  <h1>Where to get help</h1>
  <p>Get help as soon as you can.</p>

  <div class="measure">
    <h3>Leeds Crisis Assessment Service</h3>
  </div>

  <div class="details-section">
    <div class="contact">
      <div>
        0300 3001485<br>
        or text 07983 323 867
      </div>
    </div>
    <div class="details small">
      <div class="hours">
        Open 24 hours
      </div>
      <div class="other-details">
        <a href="https://www.leedsandyorkpft.nhs.uk/advice-support/help-in-a-crisis/">
          www.leedsandyorkpft.nhs.uk
        </a>
      </div>
    </div>
  </div>

  <div class="measure">
    <details>
      <summary><span>
        More information about this service
      </span></summary>
      <div>
        <p>
          This is a service with trained mental health specialists.
        </p>
        <!--
        <p>
          The Crisis Pathway Service offers immediate support to people in crisis or
          in distress, but also follow up with a range of interventions to help
          individuals to develop ways to cope with difficulties in their life and
          find ways that help to avoid a crisis.
        </p>
        -->
      </div>
    </details>
  </div>

  <div class="measure">
    <p>
      <a href="multiple-services">See more services that can help,</a> if the
      recommended one isn’t right for you.
    </p>
  </div>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">

  {% include 'service-display/_components/care-advice.html' %}

  <div class="callout callout--info">
    <p>
      If your symptoms get worse, call 111
    </p>
  </div>

</div>


{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
