{% set suppress_feedback = true %}

{% set timing_info = "Get help now" %}
{% set service_name = "A&E (accident and emergency)" %}
{% set service_pertinent_messaging = "" %}
{% set service_address_line_1 = "The Royal London Hospital" %}
{% set service_address_line_2 = "Whitechapel Rd" %}
{% set service_address_line_3 = "Whitechapel" %}
{% set service_address_line_4 = "" %}
{% set service_postcode = "E1 1BB" %}
{% set service_telephone = "" %}
{% set service_email = "" %}
{% set opening_times_message = "Open 24 hours" %}
{% set distance = "0.6 miles away" %}
{% set service_type_boilerplate_text = "The emergency department is also known as casualty or accident and emergency (A&E). It helps if you take all your current medicines with you." %}
{% set serviceLat = "51.518292" %}
{% set serviceLng = "-0.058597" %}
{% set userLat = "51.516044" %}
{% set userLng = "-0.070170" %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="javascript: return false;" class="button-back">Back</a>
    <h1>Where to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      {{ timing_info }}
    </div>
  </div>

  {% if service_pertinent_messaging !== "" %}
  <div class="subroutine measure">
    <div class="callout callout--attention">
      {{ service_pertinent_messaging }}
    </div>
  </div>
  {% endif %}

  <div class="service-details-container">

    <div class="details-1 service-details">
      <div class="unit address">
        <p>
          {{ service_name }}
          <br>
          {{ service_address_line_1 }}
          <br>
          {% if service_address_line_2 !== "" %}
            {{ service_address_line_2 }}
            <br>
          {% endif %}
          {% if service_address_line_3 !== "" %}
            {{ service_address_line_3 }}
            <br>
          {% endif %}
          {% if service_address_line_4 !== "" %}
            {{ service_address_line_4 }}
            <br>
          {% endif %}
          {{ service_postcode }}
        </p>
        {% if service_telephone %}
          <p>
            <a href="javascript: return false;">{{ service_telephone }}</a>
          </p>
        {% endif %}
        {% if service_email %}
          <p>
            <a href="javascript: return false;">{{ service_email }}</a>
          </p>
        {% endif %}
      </div>
      <div class="unit">
        <p>
          {{ opening_times_message }}
        </p>
      </div>
    </div>

    <div class="geo">
      <div id="service-location" class="map-frame"></div>
    </div>

    <div class="details-2 service-details">
      <div class="unit directions">
        <p>
          {{ distance }}
          <br>
          <a href="javascript: return false;" target="_blank">
            Get directions <span class="small">(opens a new tab or window)</span>
          </a>
        </p>
      </div>
    </div>

  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      {{ service_type_boilerplate_text }}
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% set other_services_url = "/service-display/other-services" %}
    {% set other_services_message = "services" %}
    {% include 'service-display/_components/other-services.html' %}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% set acuity = "high" %}
    {% include 'service-display/_components/worsening-symptoms.html' %}
  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = {{ serviceLat }};
    var serviceLng = {{ serviceLng }};
    var userLat = {{ userLat }};
    var userLng = {{ userLng }};
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
  </script>
{% endblock %}
