{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  <form method="post">
    <div class="form-group">
      <h1 class="h2">
        <label for="postcode">What is {% if session.proxy == true %}their{% else %}your{% endif %} home postcode?</label>
      </h1>
      <div class="callout callout--info">
        <p>{% if session.proxy == true %}Their{% else %}Your{% endif %} postcode helps us find {% if session.proxy == true %}their{% else %}your{% endif %} NHS number.</p>
      </div>
      <p class="form-hint">For example, LS2 7UE</p>
      <div class="shunt">
        <input type="text" name="postcode" id="postcode" value="" class="-small">
      </div>
      <p><a href="javascript:return false;">I don’t know the postcode</a></p>
    </div>
    <div class="form-group">
      <button type="submit" class="button">Next</button>
    </div>
  </form>
</div>

{% endblock %}
