{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Emergency prescriptions</h1>
    <p>
      Use this service if you've completely run out of medicine you're
      prescribed regularly.
    </p>
    <p>
      A pharmacist can decide to give you a limited amount of medicine until you
      can get a repeat prescription from your GP.
    </p>
    <div class="callout callout--info">
      <p>
        If you need medicine and you’re also feeling unwell, call 111 and speak to
        an adviser.
      </p>
    </div>
    <div class="shunt-2">
      <a href="regular-avenues" class="button">Start</a>
    </div>
  </div>

</div>

{% endblock %}
