{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    Book a call with a 111 nurse now
  </h1>

  <p>
    A nurse needs to speak to you so we can get you the right help.
  </p>
  <p>
    When you book a call, the 111 nurse will:
  </p>

  <ul>
    <li>know what you’ve answered so far</li>
    <li>advise you what to do next</li>
    <li>book an appointment for you if you need one</li>
  </ul>

  <p>
    If you don't book a call and just ring 111 you will have to start again from
    the beginning.
  </p>

  <div class="callout callout--info">
    <p>
      You should get a call within 20 minutes. It's important that you wait to speak
      to the nurse.
    </p>
  </div>

  <div class="shunt-2">
    <button type="submit" class="button">Book a nurse call</button>
  </div>

</div>

{% endblock %}
