{% set suppress_feedback = true %}

{% set timing_info = "Get help now" %}
{% set service_name = "A&E (accident and emergency)" %}
{% set service_pertinent_messaging = "" %}
{% set service_address_line_1 = "The Royal London Hospital" %}
{% set service_address_line_2 = "Whitechapel Rd" %}
{% set service_address_line_3 = "Whitechapel" %}
{% set service_address_line_4 = "" %}
{% set service_postcode = "E1 1BB" %}
{% set service_telephone = "" %}
{% set service_email = "" %}
{% set opening_times_message = "Open 24 hours" %}
{% set distance = "0.6 miles away" %}
{% set service_type_boilerplate_text = "The emergency department is also known as casualty or accident and emergency (A&E). It helps if you take all your current medicines with you." %}
{% set serviceLat = "51.518292" %}
{% set serviceLng = "-0.058597" %}
{% set userLat = "51.516044" %}
{% set userLng = "-0.070170" %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="callout callout--attention measure">
    <h2 class="nhsuk-heading-l">Contact a pharmacist today or tomorrow</h2>
  </div>
  <div class="measure">
    <!-- timing info -->
  <div>
    <p>Pharmacists are trained to deal with common health problems.</p>
  <div class="content-seperator content-seperator--equalvertspacing--large"></div>
<div>
    <p><a href="other-services-noInfo">Find a pharmacy that can help.</a></p>
    </div>
<div class="content-seperator content-seperator--equalvertspacing--large"></div>
  </div>
  <details>
      <summary><span>Things to look out for and self-care</span></summary>

    <div class="care-advice-output">
      <h3>Eye discharge</h3>
      <div>
        <ul>
          <li>
            Clean each eye using a separate piece of cotton wool soaked in boiled, cooled tap water.
          </li>
          <li>
            Wash your hands after touching the eye.
          </li>
          <li>
          Don't wear contact lenses until it's cleared up.
          </li>
        </ul>
      </div>
    </div>
  </details>
  <details>
    <summary><span>What to do if you start to feel worse</span></summary>
    <div>
      <p> Choose the symptom that’s worrying you most and either use this service again or call 111.
      </p>

      <details>
        <summary><span>If you are deaf or hard of hearing</span></summary>
        <div>
      <p>There are <a href="/deaf_speech/details-page" target="_blank">other ways you can contact 111</a> if you start to feel worse.
        </div>
    </details>
  </details>

</div>
{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = {{ serviceLat }};
    var serviceLng = {{ serviceLng }};
    var userLat = {{ userLat }};
    var userLng = {{ userLng }};
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
  </script>
{% endblock %}
