{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="nhsuk-heading-xl">You need to isolate yourself and stay indoors</h1>
  <p>For 14 days you should:</p>
  <ul>
    <li>stay at home</li>
    <li>not go to work, school or public areas</li>
    <li>not use public transport or taxis</li>
    <li>
      ask friends, family members or delivery services to carry out errands
      for you
    </li>
    <li>
      try to avoid visitors to your home - it’s OK for friends, family or
      delivery drivers to drop off food
    </li>
  </ul>
  <p>
    Following these steps can help reduce the possible spread of infection.
  </p>

  <h2 class="nhsuk-heading-m">
    Call 111 if you start to develop symptoms of:
  </h2>
  <ul>
    <li>shortness of breath</li>
    <li>high temperature (feeling hot to touch on the chest or tummy)</li>
    <li>a cough</li>
  </ul>
  <p>
    Make sure you select the option to speak to someone. Tell them you
    are calling about possible coronavirus (COVID-19) symptoms.
  </p>
  <div class="callout callout--warning">
    <p>
      The phone service will be very busy but you <strong>must</strong> wait
      until you get through.
    </p>
  </div>
</div>

{% endblock %}

{% set suppress_feedback = true %}
