{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    Answer more questions about your symptoms
  </h1>
  <p>As you:</p>
  <ul>
    <li>have <strong>not</strong> travelled to a country with a serious outbreak</li>
    <li>have <strong>not</strong> been in contact with a confirmed case</li>
  </ul>

  <p>You don’t need to speak to 111 about coronavirus (COVID-19).</p>

  <p>
    <a href="https://111.nhs.uk">Answer more questions about your symptoms</a>
    and find out what to do next.
  </p>

</div>

{% endblock %}

{% set suppress_feedback = true %}
