{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">Just info</h1>
  <p>
    You came here at the start, cause you're worried.
  </p>
  <p>
    <a href="javascript: return false;">a link ooh hoo</a>
  </p>

  <p>Let's work this all out. Are we having a survey...?</p>

  <p>Links to info and worsening.</p>

</div>

{% endblock %}

{% set suppress_feedback = true %}
