{% extends '_layouts/layoutAdapted.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="nhsuk-heading-xl">Get medical help near you</h1>
    <ol>
      <li>Answer questions about your main symptom.</li>
      <li>Find out when and where to get help.</li>
      <li>Get a call back from a nurse, if you need one.</li>
    </ol>
    <div class="callout callout--info">
      <p>
        If you think you know what might be wrong, you can find advice on
        <a href="javascript: return false;">health problems</a>
        on <a href="javascript: return false;">NHS.UK.</a>
      </p>
        <p>
        If you’ve run out of your prescribed medicines, find out how
        to get an <a href="javascript: return false;">emergency prescription.</a>
      </p>
      <p>

    </div>
    <div class="shunt-2">
      <a href="/deaf_speech/emergency-checkAdapted" class="button">Start</a>
    </div>
    <details>
      <summary><span>Get help in another language</span></summary>
      <div>
        <p>If reading English is hard for you, call 111. The 111 phone service can get an interpreter to help you.</p>
        </div>
        </details>
    <details>
      <summary><span>Using this service if you're deaf, hard of hearing or have speech problems.</span></summary>
      <div>
        <h5>111 telephone service</h5>
        <p>
          A British Sign Language (BSL) interpreter is available from 8am to midnight every day at <a href="https://interpreternow.co.uk/nhs111" target="_blank">interpreternow.co.uk/nhs111</a>
          </p>
          <p>
            You can contact 111 through text relay 24 hours a day. Call 18001 111 on a textphone or the text relay app.
            </p>
          <h5>111 online</h5>
          <p>
            You can use an <a>adapted triage</a> for hearing and speech impairments.
            </p>
          <p>
          If a nurse does need to speak to you:
          <ul>
            <li>text relay can be used on an app or textphone</li>
              <li>a BSL interpreter can be used if you need one</li>
              </ul>
              </p>
              <p>
          If you're told to contact 999:
          <ul>
              <li>18000 is the text relay number for help in an emergency.</li>
            </ul>
            </p>
      </div>
    </details>
      <div class="content-seperator content-seperator--equalvertspacing--large"></div>
    <p>
      Always follow any medical advice you’ve already been given by your
      doctor. See our <a href="javascript: return false;">terms.</a>
    </p>
  </div>

</div>

{% endblock %}
