{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    <span class="heading-prefix">{{ session.usersGP.name }}</span>
    Contact your GP
  </h1>

  <p>
    You can also contact your GP to ask for an appointment:
  </p>

  <ul>
    <li>phone</li>
    <li>email</li>
    <li>web</li>
    <li>address</li>
  </ul>

  <p>
    Or see <a href="#">other ways to get help</a>
  </p>
</div>

{% endblock %}
