{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">
      <span class="heading-prefix">{{ session.usersGP.name }}</span>
      Using GP online services
    </h1>
    {% if session.gpoc.brand === 'virtually' %}
    <p>
      Your GP allows you to book:
    </p>
    <ul>
      <li>an online consultation (by video, phone or email)</li>
      <li>appointments to visit the surgery</li>
    </ul>
    <p>
      If you’ve not already signed up to online services, you might have
      to register before you can begin.
    </p>
    {% else %}
    <p>
      Your GP allows you to:
    </p>
    <ul>
      <li>get help from the GP by email or phone</li>
      <li>book an appointment to visit the surgery</li>
    </ul>
    {% endif %}

    <div class="shunt-2">
      <a href="handover-appt-type" class="button">Start</a>
    </div>
  </div>

</div>

{% endblock %}
