{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    It’s unlikely you have coronavirus - what to do next about your symptoms
  </h1>

  <p>As you:</p>
  <ul>
    <li>do not have a high temperature</li>
    <li>do not have a continuous cough</li>
  </ul>

  <p>
    It’s unlikely you have a coronavirus (COVID-19) infection as these are the
    most common symptoms.
  </p>

  <h2 class="nhsuk-heading-m">
    Check your other symptoms on the main 111 site
  </h2>

  <p>
    Use the non-COVID part of 111 online to find out what to do about your other
    symptoms.
  </p>

  <div class="nhsuk-u-margin-top-6">
    <a href="#" class="button">Start now</a>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
