{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  {% if error.summary %}
    <div class="error-summary">
      <div>
        <h2>There’s a problem</h2>
        <p>{{ error.summary | safe }}</p>
      </div>
    </div>
  {% endif %}

  <div class="content-block">
    <h1>Where are you?</h1>
    <p>Tell us where you are now to get help in that area.</p>

    <form method="post" class="content-block">

      <div class="address-lookup">
        <!--
        <div class="form-group">
          <label for="building"><b>Number or name of building (optional)</b></label>
          <input type="text" id="building" name="building" autocomplete="off" value="{{ session.addressBuilding }}">
        </div>
        -->
        <div class="form-group {% if error.postcode %}-errors{% endif %}">
          <label for="postcode">
            <b>Postcode</b>
            {% if error.postcode %}<br>{{ error.postcode }}{% endif %}
          </label>
          <div class="search -postcode shunt">
            <input type="text" id="postcode" name="postcode" class="-small" autocomplete="off" value="{{ session.addressPostcode }}">
            <button type="submit" class="button">Look up address</button>
          </div>
        </div>
        <!--
        <div class="form-group shunt-2">
          <button type="submit" class="button">Find address</button>
        </div>
        -->
      </div>
      <p>
        <a href="/start/location">I don’t know the postcode</a>
      </p>
    </form>
  </div>

</div>

{% endblock %}
