{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}
<!--
<div class="measure">
  <a href="/start/address-search" class="button-back">Back</a>
</div>
-->

<div id="geolocate-messaging">
  <p>
    <span>Finding your location</span>
    <span class="load-container">
      <span class="loader"></span>
    </span>
  </p>
</div>

<div id="problems" class="callout callout--error shunt-2 measure js-hidden"></div>

<div class="location shunt-2" style="position:relative;">
  <div id="mapAnchor" style="position:absolute; top:-24px; visibility:hidden;"></div>
  <div id="map"></div>
</div>

<!--
<div id="problems" class="callout callout--info shunt-2 measure">
  <p>You can drag and zoom the map to pinpoint your location more exactly</p>
</div>
-->

<form action="/start/handle-location" method="post" class="content-block shunt clearfix">
  <div class="form-group -controls">
    <button type="submit" class="button">Confirm location</button>
  </div>
  <input type="hidden" name="lat" id="lat" value="" />
  <input type="hidden" name="long" id="long" value="" />
</form>

<style>
  #console {
    position: fixed;
    right: 12px;
    top: 12px;
    width: 200px;
    padding: 12px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.1;
    background-color: #fff587;
    opacity: 0;
  }
</style>
<div id="console">
  lat: <span id="latitude"></span><br>
  lng: <span id="longitude"></span>
</div>

{% endblock %}

{% block body_after %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM&libraries=places"></script>
<script>
  var updateVals = function(pos) {
    $('#latitude').text(pos.lat);
    $('#longitude').text(pos.lng);
    $('#lat').val(pos.lat);
    $('#long').val(pos.lng);
  }

  var doGeo = function() {
    navigator.geolocation.getCurrentPosition(function(position) {
      $('#geolocate-messaging').show();
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      updateVals(pos);
      // do stuff with the pos object
      var bounds = new google.maps.LatLngBounds();
      bounds.extend(pos);
      mapObj.setCenter(pos);
      mapObj.fitBounds(bounds);

      marker = new google.maps.Marker({
        position: mapObj.getCenter(),
        map: mapObj
      });

      $('#geolocate-messaging').hide();
      document.getElementById('mapAnchor').scrollIntoView({
        behavior: "smooth"
      });
    }, function(PositionError) {
      console.log(PositionError.message);
      console.log(PositionError.code);
      $('#geolocate-messaging').hide();
      errorMessage = '<p>Sorry there’s been a problem finding your location. <a href="javascript: return false;" id="manualGeo">Try again</a> or zoom and drag the map to show where you are.</p>'
      $('#problems').html(errorMessage).removeClass('js-hidden')
    });
  }

  $(function() {
    mapObj = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 54.49753506786252,
        lng: -2.2084219462310557
      },
      zoom: 5,
      maxZoom: 18,
      zoomControl: true,
      mapTypeControl: false,
      scaleControl: true,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false
    });

    /*
    google.maps.event.addListener(mapObj, 'center_changed', function() {
      // 0.1 seconds after the center of the map has changed,
      // set back the marker position.
      window.setTimeout(function() {
        var center = mapObj.getCenter();
        if (typeof marker === 'undefined') {
          marker = new google.maps.Marker({position: mapObj.getCenter(), map: mapObj});
        }
        marker.setPosition(center);
        updateVals(center);
      }, 100);
    });
    */

    $('#problems').on('click', '#manualGeo', function(e) {
      e.preventDefault();
      doGeo();
    });

    doGeo();

  });

</script>
{% endblock %}
