{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<form method="post" class="form content-block measure">
  <!--<a href="{{ session.callBooking.backUrl }}" class="button-back">Back</a>-->

  <h1 class="h2">Who is the nurse phoning about?</h1>

  <fieldset class="form-group shunt">
    <label class="block-label">
      <input id="who" name="who" value="me" type="radio" class="selection-button-radio"
        {% if session.callBooking.who === 'me' %}checked="checked"{% endif%}
      >
      Me
    </label>
    <label class="block-label">
      <input id="who" name="who" value="someone-else" type="radio" class="selection-button-radio"
        {% if session.callBooking.who === 'someone-else' %}checked="checked"{% endif%}
      >
      Someone else
    </label>
  </fieldset>
  <div class="form-group">
    <p>
      <button type="submit" class="button">Next</button>
    </p>
  </div>
</form>

{% endblock %}
