{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="error-hint">Phone 999 for an ambulance</h1>

  <p class="lede">Your answers mean you don't need an emergency ambulance straightaway.</p>
  <p>The 999 operator will ask:</p>
  <ul>
    <li>where you are - the area or what’s nearby</li>
    <li>what phone number they can call you back on if you get cut off</li>
    <li>what’s happened</li>
    <li>more about your symptoms - If you don't need an ambulance you'll get advice on what to do instead</li>
  </ul>
  <p>
    Deaf people should use 18000 to contact 999 using text relay.
    </p>
</div>

{% endblock %}

{% block footer %}{% endblock %}
