{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<style type="text/css">

</style>

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="javascript: return false;" class="button-back">Back</a>
    <h1>Where to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>
  </div>

  <div class="service-details --remote">
    <div class="unit">
      <p>
        Minor injuries unit, St Georges Centre
      </p>
    </div>
    <div class="unit">
      <div class="form-hint measure">
        <p>
        You can use text relay, or other services for deaf people, if you have difficulty hearing.
        </p>
      </div>
      <p class="tel-cta">
        <a href="javascript: return false;">Call 01482 301701</a>
      </p>
    </div>
    <div class="unit">
      {% set opening = "Open 24 hours"%}
      {% set suppress_full = true %}
      {% include 'service-display/_components/opening-hours.html' %}
    </div>
    <div class="unit">
      <p>
        Minor injuries unit<br>
        St Georges Centre<br>
        St Georges Road<br>
        Middleton<br>
        LS10 4UZ
      </p>
    </div>

    <div class="unit directions">
      <p>
        6.8 miles away<br>
        <a href="javascript: return false;" target="_blank">
          Get directions <span class="small">(opens a new tab or window)</span>
        </a>
      </p>
    </div>
  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      Urgent treatment centres (also called minor injury units) are staffed by GPs.
      They’re open for at least 12 hours every day. They can diagnose and deal
      with many of the most common problems people go to A&amp;E for.
    </p>
  </div>

  {% include 'service-display/_components/change-location.html' %}

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% set other_services_url = "/service-display/other-services" %}
    {% set other_services_message = "services" %}
    {% include 'service-display/_components/other-services.html' %}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  {% set acuity = "high" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
