{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="callout callout--attention measure">
  <h2 class="nhsuk-heading-l">Call 111 to speak to a health adviser now</h2>
<p>We can't help you with this problem online.</p>
  <p>Deaf people can call using text relay on 18001 111.</p>
</div>

<div class="content-block">
  <ul>
    <li>You can tell the adviser that we haven't been able to finish your assessment online.</li>
    <li>They will ask you to repeat some of your answers, but will be able to get you the right care.</li>
  </ul>
</div>


{% endblock %}

{% block footer %}{% endblock %}
