{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<form class="content-block form measure" action="covidBookCall/name" method="post">
  <!--<a href="disposition-callback-first-001" class="button-back">Back</a>-->

  {% if error %}
    <div class="error-summary">
      <h2 class="error-heading">There’s a problem</h2>
      <p>
        <a href="#tel">Enter a phone number</a>
      </p>
    </div>
  {% endif %}

  <h1>Book a call with a 111 nurse</h1>

  <p>
    A nurse from the COVID clinical response service needs to speak to you.</p>
    <p>Deaf people can book a text relay call.</p>
    <p>When you book a call, the 111 nurse will:
    <ul>
      <li>know what you've answered so far</li>
      <li>ask you some more questions about your symptoms and current health</li>
      </ul>
  </p>
  <p>
    It's important that you speak to the nurse. You should get a call within 2 hours. The 111 phone service is busy, so it could take longer than usual.
  </p>
  <div>
      <form>
      <button type="submit" class="button">Book a nurse call</button>
    </form>
  </div>

</form>

{% endblock %}
