{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<form class="form content-block measure" method="post">
  {% if error %}
    <div class="error-summary">
      <h2 class="error-heading">There’s a problem</h2>
      <p>
        Provide a date of birth. If you don’t know a date of birth then give an
        age or guess an age.
      </p>
    </div>
  {% endif %}
  <fieldset id="dob-group">
    <legend>
      <h1 class="nhsuk-heading-l">What is {% if session.proxy == true %}their{% else %}your{% endif %} date of birth?</h1>
    </legend>
    <div class="form-group -date {% if error %}-errors{% endif %}">
      <div>
        <label for="dob-day">Day</label>
        <input type="number" id="dob-day" name="dob-day" value="{{ session.demographics.dob.day }}" class="day" maxlength="2" autocomplete="off">
      </div>
      <div>
        <label for="dob-month">Month</label>
        <input type="number" id="dob-month" name="dob-month" value="{{ session.demographics.dob.month }}" class="month" maxlength="2" autocomplete="off">
      </div>
      <div>
        <label for="dob-year">Year</label>
        <input type="number" id="dob-year" name="dob-year" value="{{ session.demographics.dob.year }}" class="year" maxlength="4" autocomplete="off">
      </div>
    </div>
  </fieldset>

  <div class="collapse">
    {% if not error %}
      <a href="javascript: return false;" class="collapse-title">I can’t give a date of birth</a>
    {% endif %}
    <div {% if not error %}class="collapse-content"{% endif %}>
      <div class="form-group {% if error %}-errors{% endif %}">
        <p>
          If you don’t know a date of birth then give an age or guess an age.
        </p>
        <label for="age"><b>Age</b></label>
        <input class="-tiny" id="age" name="age" type="tel" value="{% if session.demographics.dob.supplied == false %}{{ session.demographics.age }}{% endif %}" autocomplete="off">
      </div>
    </div>
  </div>

  <div class="form-controls shunt-2">
    <button class="button" type="submit">Next</button>
  </div>
</form>

{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
