{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">

    <h1 class="nhsuk-heading-xl">
      Other ways to contact 111
    </h1>
    <h3>Text relay</h3>
    <div>
    <p>
      Call 18001 111 using text relay, 24 hours a day.
    </p>
    </div>
    <h3>British sign language (BSL)</h3>
    <div>
    <p>
      Use <a href="https://interpreternow.co.uk/nhs111">interpreternow.co.uk/nhs111</a>
    </p>
    </div>
    <h3>Help in other languages</h3>
    <div>
    <p>
      Call 111 and ask for an interpreter.
      </p>
      <div class="content-seperator content-seperator--equalvertspacing--large"></div>
      <h4>If you need help in an emergency</h4>
      <p>Text relay users can call 18000 to get through to 999.</p>
      </div>

  </div>
</div>

{% endblock %}

{% set suppress_feedback = true %}
