{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="nhsuk-heading-xl">Get medical help near you</h1>
    <ol>
      <li>Answer questions about your main symptom.</li>
      <li>Find out when and where to get help.</li>
      <li>Get a call back from a nurse, if you need one.</li>
    </ol>
    <div class="callout callout--info">
      <p>
        If you think you know what might be wrong, you can find advice on
        <a href="javascript: return false;">health problems</a>
        on <a href="javascript: return false;">NHS.UK.</a>
      </p>
        <p>
        If you’ve run out of your prescribed medicines, find out how
        to get an <a href="javascript: return false;">emergency prescription.</a>
      </p>
      <p>

    </div>
    <div class="shunt-2">
      <a href="postcode" class="button">Start</a>
    </div>
    <details>
      <summary><span>Get help in another language</span></summary>
      <div>
        <h4>If reading English is hard for you</h4>
          <p>Call 111. The 111 phone service can get an interpreter to help you.</p>
          <h4>If speaking in English is hard for you</h4>
            <p>If you use the 111 online service and you're told to book a call back from a nurse, you can tell us what language you'd like an interpreter to use.
            <br><br>If you need to contact other services, like a hospital or a GP surgery, interpreter help will usually be available.</p>
        </div>
        </details>


    <details>
      <summary><span>Using this service if you're deaf, hard of hearing or use text relay.</span></summary>
      <div>
        <p>
          When you have answered questions about your symptoms we tell you what to do next.
          Sometimes this will mean getting a call back from a nurse or speaking to someone.<br><br>
          You can usually use a text relay app or a textphone to do this.
        </p>
        <h4>British sign language (BSL) users</h4>
        <p>
          A BSL interpreter is available at <a href="https://interpreternow.co.uk/nhs111" target="_blank">interpreternow.co.uk/nhs111</a>
          <br><br>You can't use 111 online to book a BSL call back from a nurse at the moment.
          </p>
      </div>
    </details>
      <div class="content-seperator content-seperator--equalvertspacing--large"></div>
    <p>
      Always follow any medical advice you’ve already been given by your
      doctor. See our <a href="javascript: return false;">terms.</a>
    </p>
  </div>

</div>

{% endblock %}
