{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">
  {% if error %}
    <div class="error-summary">
      <h2 class="error-heading">There’s a problem</h2>
      <p>
        Tell us if {% if session.proxy == true %}they’re{% else %}you’re{% endif %} at home or not
      </p>
    </div>
  {% endif %}
  <h1 class="nhsuk-heading-l">Do you need help from an interpreter?</h1>
  <div class="callout callout--info">
    <p>The nurse can use an interpreter service to help you in your own language.</p>
  </div>

  <form id="postcode-container" method="post">
    <fieldset class="form-group {% if error %}-errors{% endif %}">
      {% if error %}
        <p class="error-hint">Choose one option</p>
      {% endif %}
      <label class="block-label">
        <input id="interpreter" name="interpreter" value="true" type="radio" class="selection-button-radio">
        <span>Yes</span>
      </label>
      <label class="block-label">
        <input id="interpreter" name="interpreter" value="false" type="radio" class="selection-button-radio">
        <span>No</span>
      </label>
    </fieldset>
    <div class="form-group">
      <button type="submit" class="button">Next</button>
    </div>
  </form>
</div>

{% endblock %}
