{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">
  <form method="post">
    {% if error %}
      <div class="error-summary">
        <h2 class="error-heading">There’s a problem</h2>
        <p>
          <a href="#postcode">Enter a postcode</a>
        </p>
      </div>
    {% endif %}
    <div class="form-group {% if error %}-errors{% endif %}">
      <h1 class="nhsuk-heading-l">
        <label for="postcode">Where are you now?</label>
      </h1>
      <div class="callout callout--info">
        <p>We need to know where {% if session.proxy == true %}they{% else %}you{% endif %} are so we can find services to help.</p>
      </div>
      {% if error %}
        <p class="error-hint">Enter a postcode</p>
      {% endif %}
      <p class="form-hint">For example, LS2 7UE</p>
      <div class="shunt">
        <input type="text" name="postcode" id="postcode" value="" class="-small">
      </div>
    </div>
    <div class="form-group">
      <button href="emergency-check" type="submit" class="button">Next</button>
    </div>
  </form>
</div>

{% endblock %}
