{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <div class="callout callout--attention">
      <p>
        We need to know about the person who needs help. Enter their details
        when asked for age and sex.
      </p>
    </div>
  </div>

  <div class="content-block">
    <a href="/start/date-of-birth" class="button">I understand</a>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
