{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}
<form action="" class="form content-block measure" method="post">
  {% if error %}
    <div class="error-summary">
      <h2 class="error-heading">There’s a problem</h2>
      <p>
        Please choose a sex
      </p>
    </div>
  {% endif %}
  <fieldset>
    <legend>
      <h1 class="nhsuk-heading-l">What is {% if session.proxy == true %}their{% else %}your{% endif %} sex?</h1>
    </legend>
    <div class="form-group {% if error %}-errors{% endif %}">
      {% if error %}
        <p class="error-hint">Choose one option</p>
      {% endif %}
      <div class="form-group">
        <label for="female" class="block-label">
          Female
          <input type="radio" id="female" name="sex" value="Female">
        </label>
      </div>
      <div class="form-group">
        <label for="male" class="block-label">
          Male
          <input type="radio" id="male" name="sex" value="Male">
        </label>
      </div>
    </div>
    <details>
      <summary><span>Why aren’t there more options?</span></summary>
      <div>
        <p>
          Some clinical assessments can be different depending on your sex. Not
          everyone sees themselves as female or male, so if neither option is
          right for you call 111.
        </p>
        <p>
          We want to improve the service in the future so it works for everyone.
        </p>
      </div>
    </details>
  </fieldset>
  <div class="form-controls">
    <button class="button" type="submit">Next</button>
  </div>
</form>
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
