{% set suppress_feedback = true %}
{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1>Book a call with The Coronavirus Callback Service</h1>
  <p>
    A The Coronavirus Callback Service needs to speak to you so we can get you the right help.
  </p>
  <p>
    When you book a call The Coronavirus Callback Service will:
  </p>
  <ul>
    <li>know the answers you have already given</li>
    <li>ask you some questions about your symptoms and current health</li>
    <li>tell you how to get a swab test if you need one</li>
  </ul>
  <p>
    It’s important that you speak to The Coronavirus Callback Service. You should get a call within XX
    hours. The The Coronavirus Callback Service is very busy, so it could take longer than usual.
  </p>

  <div class="callout callout--info">
    <p>
      Make sure you keep yourself separate from others in your household (self-isolate)
      until you have been contacted by the testing service.
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more details about self-isolation.
      </a>
    </p>
  </div>

  <div class="callout callout--attention">
    <p>To protect other people, <b>do not go</b> to a GP, pharmacy or hospital</p>
  </div>

  <div class="form-group -controls">
    <a href="#" class="button">Book a Coronavirus Callback Service call</a>
  </div>

</div>



{% endblock %}
