{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">You need to stay at home</h1>
  <p>
    7 days
  </p>
  <p>
    Lots of questions about what happens .. if?
    Majority of people get better.
  </p>
  <p>
    If you’re on public transport, go home by the most direct route. Stay at
    least 2 metres away from people if you can.
  </p>
  <p>
    If you’re away from home:
  </p>
  <ul>
    <li>find a room where you can close the door</li>
    <li>avoid touching people, surfaces and objects</li>
  </ul>
  <div class="callout callout--attention">
    <p>
      To protect yourself and others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>

  <h2 class="nhsuk-heading-l">
    Manage mild symptoms at home and wait
  </h2>
  <p>
    If your symptoms are mild, for example you <b>do not</b> have:
  </p>
  <ul>
    <li>shortness of breath</li>
    <li>a cough that is bad enough to affect your quality of life</li>
    <li>a temperature that doesn’t come down with paracetamol or ibuprofen</li>
  </ul>
  <p>
    You can look after yourself at home as you would do with normal flu.
  </p>
  <p>
    You will need to speak to 111 about getting tested, <b>but it’s not urgent</b>
    that you do that right now.
  </p>
  <div class="callout callout--info">
    <p>
      You should keep yourself separate from others in your household (self-isolate)
      until you have been spoken to 111.
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more details about self-isolation.
      </a>
    </p>
  </div>
  <p>
    The phone service is currently very busy during the evenings and weekends,
    so try calling during the day instead. When you call, tell them you’ve
    been told you need a coronavirus test by the online service.
  </p>
  <p>
    To manage your symptoms while you wait you can:
  </p>
  <ul>
    <li>take paracetamol</li>
    <li>drink plenty of water</li>
    <li>get lots of rest</li>
  </ul>

  <h2 class="nhsuk-heading-l">What to do if you feel very unwell</h2>
  <div class="callout callout--warning">
    <p>
      <b>Call NHS 111 now.</b> The phone service will be very busy, but you must wait
      until you get through.
    </p>
  </div>
  <p>
    Tell 111:
  </p>
  <ul>
    <li>that you are calling about coronavirus (COVID-19) symptoms</li>
    <li>where you have travelled or about any contact you’ve had with someone with symptoms</li>
  </ul>
  <p>
    If you hear a recorded message, make sure you select the option to speak to someone.
  </p>

</div>

{% endblock %}

{% set suppress_feedback = true %}
