{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    How many days ago did your symptoms start?
  </h1>
  <p>
    It doesn’t matter if you’re not sure, but try to be as accurate as you can.
  </p>

  <form action="" method="post" class="form">

    <div class="form-group -date">
      <input type="tel" value="" autocomplete="off" class="day" style="display: inline-block;">
      <span class="form-hint" style="display: inline;">&nbsp;&nbsp;days ago</span>
    </div>

    <div class="form-controls shunt-2">
      <button class="button" type="submit">Next</button>
    </div>

  </form>

</div>

{% endblock %}

{% set suppress_feedback = true %}
