{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    Use the regular 111 online service to check children’s symptoms
  </h1>

  <p>
    Because you are under 16 we need to ask you different questions about your symptoms.
  </p>

  <p>
    Use 111 online and search for the symptom that is bothering you most.
  </p>

  <div class="nhsuk-u-margin-top-6">
    <a href="#" class="button">Start now</a>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
