{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-m">
    You don’t have the main symptoms of coronavirus (COVID-19) but you have said
    that you are breathless.
  </h1>

  <p>
    We need to ask you some more questions about your breathlessness.
  </p>

  <p>
    Continue answering questions and we’ll tell you what to do next.
  </p>

  <div class="nhsuk-u-margin-top-6">
    <a href="#" class="button">Continue</a>
  </div>


</div>

{% endblock %}

{% set suppress_feedback = true %}
