{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">
  <h1 class="heading-xlarge">
    Do you have a new rash that won’t go away when you press a glass on it, and
    you also feel severely ill?
  </h1>
  <div class="callout callout--info">
    <p>
      The rash can be a sign of meningitis. The rash may be red-blue, purple,
      brown, pin-prick size or larger blotches or blood blisters. On darker skin,
      check the paler areas such as inside the mouth, palms or soles.
    </p>
  </div>

  <form id="test">
    <div class="form-group">
      <fieldset>
        <label class="block-label">
          <input id="yes" name="answer" value="yes" type="radio" class="selection-button-radio">
          <span>
            Yes &ndash; you have a new rash and feel severely ill
          </span>
        </label>
        <div class="interrupt--mini callout--warning js-hidden" id="test-warning-yes">
          This means you’ll be asked to call 999
        </div>
        <label class="block-label">
          <input id="not-sure" name="answer" value="not-sure" type="radio" class="selection-button-radio">
          I’m not sure
        </label>
        <div class="interrupt--mini callout--warning js-hidden" id="test-warning-unsure">
          This means you’ll be asked to call 999
        </div>
        <label class="block-label">
          <input id="no" name="answer" value="no" type="radio" class="selection-button-radio">
          No
        </label>
      </fieldset>
    </div>
    <button class="button" type="submit">Next question</button>
  </form>
</div>

<section class="page-section">
  <details class="measure">
    <summary><span>
        <span class="details__arrow"></span>
        Help us improve this question
    </span></summary>
    <div>
      <form>
        <p>Does it make sense? Do you understand all the words?</p>
        <p>We use feedback to make the service better but can't reply to any comments. Don't include any medical or personal information like your name or email.</p>
        <textarea class="feedback" cols="20"></textarea>
        <button class="button">Send feedback</button>
      </form>
    </div>
  </details>
</section>

{% endblock %}

{% block body_after %}
  <script>
    $('#test input').on('change', function() {
      $('#test-warning-yes, #test-warning-unsure').addClass('js-hidden');
      if ($('#test input:checked').val() === 'yes') {
        $('#test-warning-yes').removeClass('js-hidden');
      }
      if ($('#test input:checked').val() === 'not-sure') {
        $('#test-warning-unsure').removeClass('js-hidden');
      }
    });
  </script>
{% endblock %}
