{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<!--
  Highest priority RED
-->

<div class="content-block measure">

  <a href="javascript: return false;" class="button-back">Back</a>

  <h1 class="error-hint">Phone 999 now for an ambulance</h1>

  <div class="callout callout--alert shunt-2">
    <h2 class="h3">The 999 operator will ask:</h2>
    <ul>
      <li>where you are &mdash; the area or postcode (or what’s nearby if you don’t know)</li>
      <li>what phone number they can call you back on if you get cut off</li>
      <li>what’s happened</li>
      <li>more about your symptoms &mdash; if you don’t need an ambulance you’ll get advice on what to do instead</li>
    </ul>
  </div>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
