{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<!--
  Highest priority GREEN
-->

<div class="content-block measure">

  <a href="javascript: return false;" class="button-back">Back</a>

  <h1 class="error-hint">Phone 999 now for an ambulance</h1>

  <p>The 999 operator will ask:</p>
  <ul>
    <li>where you are &mdash; the area or postcode (or what’s nearby if you don’t know)</li>
    <li>what phone number they can call you back on if you get cut off</li>
    <li>what’s happened</li>
    <li>more about your symptoms &mdash; if you don’t need an ambulance you’ll get advice on what to do instead</li>
  </ul>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
