{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <!--<a href="javascript: return false;" class="button-back">Back</a>-->
    <h1>Where to get help</h1>
    <!-- timing info -->
    <!-- it's non-urgent
    <div class="callout callout--warning">
      Get help today
    </div>
    -->
  </div>

  <div class="service-details-container">
    <div class="details-1 service-details">
      <div class="unit address">
        <p>
          St George’s Pharmacy<br>
          46 St George’s Rd<br>
          Elephant and Castle<br>
          London<br>
          SE1 6ET
        </p>
      </div>
      <div class="unit">
        {% set opening = "Open until 5.30pm"%}
        {% set suppress_full = true %}
        {% include 'service-display/_components/opening-hours.html' %}
      </div>
    </div>

    <div class="geo">
      <div id="service-location" class="map-frame"></div>
    </div>

    <div class="details-2 service-details">
      <div class="unit directions">
        <p>
          0.5 miles away<br>
          <a href="javascript: return false;" target="_blank">
            Get directions <span class="small">(opens a new tab or window)</span>
          </a>
        </p>
      </div>
    </div>

  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      A pharmacist can help with a wide range of minor health problems. You can
      have a consultation in a private room. Pharmacists can provide emergency
      prescriptions.
    </p>
  </div>

  {% include 'service-display/_components/change-location.html' %}

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% set other_services_url = "javascript: return false;" %}
    {% set other_services_message = "trumped" %}
    {% include 'service-display/_components/other-services.html' %}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  <div class="measure">
    {% set acuity = "high" %}
    {% include 'service-display/_components/worsening-symptoms.html' %}
  </div>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = 51.495363;
    var serviceLng = -0.101788;
    var userLat = 51.498508;
    var userLng = -0.097353;
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
  </script>
{% endblock %}
