{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}COVID-19 prototypes{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <div class="callout callout--attention">
    <p>
      <strong>Note</strong><br>
      Content in these prototypes has likely been <strong>superseded.</strong>
    </p>
  </div>

  <h1 class="nhsuk-heading-l">NHS 111 coronavirus prototypes</h1>

  <h2 class="nhsuk-heading-m">
    Change xxx: testing
  </h2>
  <ul>
    <li>
      <a href="/coronavirus/antigen-testing/dx391-simple-link-rev-2">Dx391 - NHS.UK hub compatible</a>
    </li>
    <li>
      <a href="/coronavirus/antigen-testing/dx391-a">Dx391 (a) - existing 111 "hub" version</a>
    </li>
    <li>
      <a href="/coronavirus/antigen-testing/dx391-b-rev-2">Dx391 (b) - existing 111 "hub" version</a>
    </li>
  </ul>

  <h2 class="nhsuk-heading-m">
    Change 288: paediatric pathway
  </h2>
  <ul>
    <li>
      <a href="/coronavirus/change-288-paediatrics/symptoms-started">How many days ago did symptoms start?</a>
    </li>
    <li>
      <a href="/coronavirus/change-288-paediatrics/redirect-asymptomatic">Redirection for non-covid users</a>
    </li>
  </ul>

  <h2 class="nhsuk-heading-m">
    Change xxx:<br>
    <b>Link to NHS.UK hubs (get rid of 111 "hub") (15 April 2020)</b>
  </h2>
  <ul>
    <li>
      <a href="/coronavirus/change-xxx-nhsuk-hub/dx391">dx391 - stay at home</a>
    </li>
    <li>
      <a href="/coronavirus/change-xxx-nhsuk-hub/dos-no-results">DoS no results (call 111)</a>
    </li>
    <li>
      <a href="/coronavirus/change-xxx-nhsuk-hub/callback-confirmed">Callback confirmed</a>
    </li>
  </ul>


  <h2 class="nhsuk-heading-m">
    Change 281:<br>
    <b>Breathlessness and redirect children (8 April 2020)</b>
  </h2>
  <ul>
    <li>
      <a href="/coronavirus/change-281/redirect-children">Redirecting under 16s to main 111</a>
    </li>
    <li>
      <a href="/coronavirus/change-281/redirect-breathless">Redirecting breathlessness</a>
    </li>
  </ul>



  <!-- *********************************************************************** -->

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <details>
    <summary>
      <span>Depracated and/or released (yes it's a mess)</span>
    </summary>
    <div>

      <h2 class="nhsuk-heading-m">
        Change 256:<br>
        <b>Stay at home hub</b>
      </h2>
      <ul>
        <li>
          <a href="/coronavirus/hub/dx-stay-home">Dx - stay home</a>
        </li>
        <li>
          <a href="/coronavirus/hub/stay-at-home-hub">Hub page</a>
        </li>
        <!--
        <li>
          <a href="/coronavirus/hub/dx-stay-home-alone">Dx - living alone</a>
        </li>
        <li>
          <a href="/coronavirus/hub/stay-at-home-hub-multi">Hub page - living with others</a>
        </li>
        <li>
          <a href="/coronavirus/hub/dx-stay-home-multi">Dx - living with others</a>
        </li>
        <li>
          <a href="/coronavirus/hub/stay-at-home-hub-alone">Hub page - living alone</a>
        </li>
        -->
      </ul>

      <h2 class="nhsuk-heading-m">
        Also change 256:<br>
        <b>SMS updates (NHS.UK style)</b>
      </h2>
      <ul>
        <li>
          <a href="http://nhs111-gpoc.herokuapp.com/" target="_blank">Start page</a>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">
        Change 258:<br>
        <b>Content updates </b>
      </h2>
      <ul>
        <li>
          <a href="/coronavirus/2020-03-24-content-update/dx391-stay-home">
            Dx391 - Self-isolate
          </a>
        </li>
        <li>
          <a href="/coronavirus/2020-03-24-content-update/dx1113-book-a-callback">
            Dx1113 - book a callback
          </a>
        </li>
        <li>
          <a href="/coronavirus/2020-03-24-content-update/callback-confirmed">
            Callback confirmed
          </a>
        </li>
        <li>
          <a href="/coronavirus/2020-03-24-content-update/dos-no-results">
            DoS no results
          </a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="/coronavirus/phase-2/banner">Banner</a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="/coronavirus/phase-2/start">Start</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/start-nhsuk">Start (NHS.UK)</a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="/coronavirus/phase-2/question-dated">
            Question with a specific date
          </a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/question-contact">
            Question: close contact
          </a>
        </li>
        <li>
          <strike><a href="/coronavirus/phase-1/question-country">Question 1</a> <b>superseded</b></strike>
        </li>
        <li>
          <strike><a href="/coronavirus/phase-1/question-specific-place">Question 2</a> <b>superseded</b></strike>
        </li>
        <li>
          <strike><a href="/coronavirus/phase-1/question-country-2">Question 3</a> <b>superseded</b></strike>
        </li>
        <li>
          <strike><a href="/coronavirus/phase-1/question-symptom">Question 5</a> <b>superseded</b></strike>
        </li>
      </ul>


      <ul>
        <li>
          <strike>
            <a href="/coronavirus/phase-2/dxcv192-isolate-111-symptoms">DxCV192: isolate with symptoms</a>
          </strike>
        </li>
        <li>
          <a href="/coronavirus/phase-2/dxcv193-isolate-no-symptoms">DxCV193: isolate and asymptomatic</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/dxcv194-info-symptoms">DxCV194: information only (with other symptoms)</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/dxcv196-info-travel">DxCV196: information only (has travelled)</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/dxcv195-info-only">DxCV195: information only</a>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">
        Build stage:<br>
        Mild: testing,<br>
        Severe: call 111
      </h2>
      <p>Interstitial and Dx split</p>
      <ul>
        <li>
          <a href="/coronavirus/phase-2/interstitial">Question: Have you got...</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/question-existential-check-redux">Are you so ill...</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/outcome-mild">Outcome: mild</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/outcome-severe">Outcome: severe</a>
        </li>
        <li>
          <a href="/coronavirus/phase-2/confirmation-mild">Confirmation: mild</a>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">
        Build stage:<br>
        Pathways with DoS
      </h2>
      <p>
        <b>
          <a href="/coronavirus/phase-3/holding-page">Delay phase holding page</a>
        </b>
      </p>
      <ul>
        <li>
          <a href="/coronavirus/phase-3/covid-gateway-question">Gateway question</a>
        </li>
        <li>
          <a href="/coronavirus/phase-3/covid-gateway-statement">Gateway statement</a>
        </li>
        <li>
          <a href="/coronavirus/phase-3/outcome-isolate-with-symptoms">Outcome: stay at home</a>
        </li>
        <li>
          <a href="/coronavirus/phase-3/dx-book-a-callback">Book a callback</a>
        </li>
        <li>
          <a href="/coronavirus/phase-3/dx-callback-confirmed">Callback confirmation</a>
        </li>
      </ul>

    </div>

    <h2 class="nhsuk-heading-m">
      Build stage:<br>
      <b>Delay phase immediate term [LIVE]</b>
    </h2>
    <ul>
      <li>
        <a href="/coronavirus/phase-delay/start">Start page</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay/question-symptoms">Symptom question</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay/question-severity">Severity question</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay/dxcv195-info-only">DxCV195: information only, link to NHS.UK and 111OL</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay/dxcv193-stay-home-self-care">DxCV193: stay home, self care</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay/dxcv192-stay-home-111">DxCV192: stay home, call 111</a>
      </li>
    </ul>

    <h2 class="nhsuk-heading-m">
      Build stage:<br>
      <b>Delay phase short term</b>
    </h2>
    <ul>
      <li>
        <a href="/coronavirus/phase-delay-short/start">Start page</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-short/question-symptom-1">Symptom question 1</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-short/question-symptom-2">Symptom question 2</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-short/question-symptom-3">Symptom question 3</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-short/interstitial-isolate">Stay at home interstitial</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-short/dx-call-999">Call 999 outcome (both dx codes)</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-short/dx-stay-home-111">Call 111 outcome (immediate term)</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-short/dx-stay-home">Stay home outcome</a>
      </li>
    </ul>

    <h2 class="nhsuk-heading-m">
      Build stage:<br>
      <b>Delay phase medium term</b>
    </h2>
    <ul>
      <li>
        <a href="/coronavirus/phase-delay-medium/dx-book-a-callback">Book a call</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-medium/dx-callback-confirmed">Call confirmed</a>
      </li>
      <li>
        <a href="/coronavirus/phase-delay-medium/sending-failure-page">Send failed</a>
      </li>
    </ul>
  </details>

  <!-- *********************************************************************** -->


</div>

{% endblock %}
