{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl error-hint">Check it’s not an emergency</h1>

  <div class="callout callout--alert">
    <h2>Call 999 now if anyone has:</h2>
    <ul>
      <li>
        <span class="emphasis">signs of a heart attack - </span> pain like a
        very tight band, heavy weight or squeezing in the centre of your chest
      </li>
      <li>
        <span class="emphasis">signs of a stroke - </span>face drooping on one
        side, can’t hold both arms up, difficulty speaking
      </li>
      <li>
        <span class="emphasis">severe difficulty breathing - </span>gasping,
        not being able to get words out, choking or lips turning blue
      </li>
      <li>
        <span class="emphasis">heavy bleeding - </span>that won’t stop
      </li>
      <li>
        <span class="emphasis">severe injuries - </span>or deep cuts after a
        serious accident
      </li>
      <li>
        <span class="emphasis">seizure (fit) - </span>someone is shaking or
        jerking because of a fit, or is unconscious (can’t be woken up)
      </li>
    </ul>
  </div>

  <div>
    <a href="/start/proxy" class="button">None of these apply</a>
  </div>

</div>
{% endblock %}
