{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">See a health service</h1>
<!--   <div class="content-seperator"></div>
  <div class="precis">You should see a health service</div> -->
</div>

<div class="">

<div class="content-block">

    <h4>Recommend service:</h4>

    <div class="card">
      <h3>NHS111 Dental Callback You Go</h3>
      <ul class="address-list">
        <li>The View, Alwoodley</li>
        <li>Leeds, LS17 7NA</li>
        <li>Open today: 00:00 to 17:30</li> 
        <li><div class="content-seperator content-seperator--equalvertspacing"></div></li>
        <li>Walk-in services don't require an appointment</li>
        <li><a href="javascript: return false;">Get directions</a></li>
      </ul>
      </ul>
    </div>

  <details>
    <summary><span>Visit a service</span></summary>
    <div class="signage">
      <div class="card">
        <h3>NHS111 Dental Callback You Go</h3>
        <ul class="address-list">
          <li>The View, Alwoodley</li>
          <li>Leeds, LS17 7NA</li>
          <li>Open today: 00:00 to 17:30</li> 
          <li><div class="content-seperator content-seperator--equalvertspacing"></div></li>
          <li>Walk-in services don't require an appointment</li>
          <li><a href="javascript: return false;">Get directions</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </details>
  
    <details>
    <summary><span>Phone a service</span></summary>
    <div class="signage">
      <div class="card">
        <h3>Dental Emerency - Leeds, West Yorkshire (Unplanned Booking Service)</h3>
        <div class="content-seperator content-seperator--equalvertspacing"></div>
        <div class="cta">
          <a href="name" class="button">Book a call</a>
        </div>
      </div>
    </div>
    </div>
  </details>  

</div>

<div class="measure callout callout--attention">
  <h2>Call 111 if your symptoms get worse</h2>
  <p>If there are any new symptoms, or if the condition gets worse, call NHS 111 for advice.</p>
</div>

<div class="measure content-block">

  <h2>Treating dental pain at home</h2>
  <h3>Medication, pain and/or fever</h3>
  <ul>
    <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist.</li>
  </ul>

  <h3>Toothache</h3>
  <ul>
    <li>Don't apply gels or medicine directly to the tooth or nearby gum area. This may damage gums.</li>
    <li>Avoid hot or cold food and drinks.</li>
    <li>See a dentist for your toothache. Any other cures will be temporary.</li>
  </ul>

</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
