{% extends '_layouts/layout.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">111 prototypes</h1>
</div>

<h2>Home Address Collection</h2>
<p>15/02/2018</p>
<p>On personal details page make sure we collect both current location and home address (for PDS).</p>
<ul>
<li><p><a href="/address-collection/radio-buttons">Radio button choice [mock up]</a></p></li>
<li><p><a href="/address-collection/radio-buttons-2">Radio button choice 2 [mock up]</a></p></li>
<li><p><a href="/address-collection/home-address">Home address [mock up]</a></p></li>
<li><p><a href="/address-collection/compact">Compact address component idea [mock up]</a></p></li>
<li><p><a href="/address-collection/home-address-collection">Home address collection</a></p></li>
</ul>

{% endblock %}

{% block footer %}{% endblock %}
