<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <p class="small measure">
      <a href="/deaf_speech/details-page">
        Other ways to contact 111 if you have hearing or speech problems, or need help in other langauges
      </a>
    </p>
    <div class="content-seperator content-seperator--dark-blue content-seperator--equalvertspacing--large"></div>
    <p class="small measure">
      This website only stores the cookies that are needed to make it work.
      Read more about how <a href="javascript:return false;" class="link--reverse-polarity">
      we use cookies.</a>
    </p>
    <ul class="link-list measure">
      <li><a class="link--reverse-polarity" href="javascript:return false;">Privacy statement</a></li>
      <li><a class="link--reverse-polarity" href="javascript:return false;">Terms and conditions</a></li>
    </ul>
  </div>
</footer>
