{% extends '_layouts/layout.html' %}

{% block page_title %}Callouts{% endblock %}

{% block content %}

<div class="measure content-block">

  <p>
    <a href="/_gallery" class="button-back">Back</a>
  </p>

  <h1>Callouts</h1>

  <div class="callout callout--attention">
    <p>callout--attention</p>
  </div>

  <div class="callout callout--muted">
    <p>callout--muted</p>
  </div>

  <div class="callout callout--bordered">
    <p>callout--bordered</p>
  </div>

  <div class="callout callout--info">
    <p>callout--info</p>
  </div>

  <div class="callout callout--warning">
    <p>callout--warning</p>
  </div>

  <div class="callout callout--alert">
    <p>callout--alert</p>
  </div>

  <div class="callout callout--severe">
    <p>callout--severe</p>
  </div>

  <div class="callout callout--error">
    <p>callout--error</p>
  </div>

  <div class="callout callout--disposition">
    <p>callout--disposition</p>
  </div>

  <div class="signage info">
    <div>
      <p>signage info</p>
    </div>
  </div>

  <div class="signage message">
    <div>
      <p>signage message</p>
    </div>
  </div>

  <div class="signage completion">
    <div>
      <p>signage completion</p>
    </div>
  </div>

</div>

{% endblock %}
