{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure content-block">

  <h1>Gallery of stuff</h1>

  <ul>
    <li>
      <a href="/_gallery/callouts">Callouts</a>
    </li>
    <li>
      <a href="/_gallery/buttons">Buttons</a>
    </li>
  </ul>

  <h2>Components</h2>

  <ul>
    <li>
      <a href="/_gallery/worsening-symptoms">Worsening symptoms</a>
    </li>
    <li>
      <a href="/_gallery/gp-registration-info">GP registration info</a>
    </li>
    <li>
      <a href="/_gallery/care-advice">Care advice</a>
    </li>
  </ul>

</div>

{% endblock %}

{% block footer %}{% endblock %}
