{% set use_question_feedback = true %}

{% set question = "Have you got an agonising headache, right now, like you were suddenly hit with something hard?" %}
{% if session.userJourney.question.question %}
  {% set question = session.userJourney.question.question %}
{% endif %}

{% set help = "" %}
{% if session.userJourney.question.help %}
  {% set help = session.userJourney.question.help %}
{% endif %}

{% set answers = ["Yes", "I don’t know", "No"] %}
{% if session.userJourney.question.answers %}
  {% set answers = session.userJourney.question.answers %}
{% endif %}

{% set userAnswer = "Yes" %}
{% if session.userJourney.question.userAnswer %}
  {% set userAnswer = session.userJourney.question.userAnswer %}
{% endif %}


{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}

<div class="content-block measure">

  <a href="{{ backUrl }}" class="button-back">Back</a>

  <h1 class="h2">{{ question }}</h1>

  {% if help !== '' %}
    <div class="callout callout--warning">
      <p>{{ help }}</p>
    </div>
  {% endif %}

  <form action="question-handler" method="post" class="form">

    <div class="form-group">
      <fieldset>
        {% for answer in answers %}
          <label class="block-label">
            <input id="{{ loop.index0 }}" name="answer" value="{{ answer }}" type="radio" class="selection-button-radio">
            <span>
              {{ answer }}
              {% if userAnswer == answer %}
                <span class="highlighter">
                  &mdash; this means we can’t rule out a serious condition
                </span>
              {% endif %}
            </span>
          </label>
        {% endfor %}
      </fieldset>
    </div>

    <div class="form-group">
      <p><button type="submit" class="button">Next</button></p>
    </div>

  </form>

</div>

{% endblock %}
