{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">

  <a href="disposition" class="button-back">Back</a>

  <h2>You can change your answers</h2>
  <p>You’re being asked to call 999 because you answered “yes” to this question:</p>
  <div class="callout callout--bordered">
    <p>
      Have you got a sudden agonising headache like you've been hit on the head
      with something hard?
    </p>
  </div>
  <p>This means we can’t rule out bleeding on the brain.</p>
  <p>
    <a href="question">Change your answer to this question</a>
  </p>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2>Or book a call with a nurse</h2>
  <p>
    You’ll get a call within 30 minutes. The nurse will find the right service
    for you. This will be quicker than going to A&amp;E.
  </p>
  <p>
    <a href="/book-callback/?backUrl=%2Fforced-callback%2Foptions&forwardUrl=%2Fforced-callback%2Fcall-booked">Book a call</a>
  </p>
</div>

{% endblock %}

{% block footer %}{% endblock %}
