{% extends '_layouts/layout.html' %}

{% block page_title %}NHS 111{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">

  {% if session.callBooking.scenario == 'callback-first' %}
    {% set back = "/forced-callback/disposition-callback-first-001" %}
  {% else %}
    {% set back = "/forced-callback/options" %}
  {% endif %}
  <a href="{{ back }}" class="button-back">Back</a>

  <h1 class="heading-xlarge">
    Do you have new spots or blotches that look like blood blisters or
    bleeding under the skin?
  </h1>

  <div class="callout callout--warning">
    <p>
      This can be a sign of meningitis or sepsis. On light skin the marks
      won't fade if you press a glass on them. On dark skin it’s easier to
      see on paler areas like inside the mouth, on palms or soles.
    </p>
  </div>

  <form id="test">
    <div class="form-group">
      <fieldset>

        <label class="block-label">
          <input id="yes" name="answer" value="yes" type="radio" class="selection-button-radio" checked="true">
          <span class="highlighter">
            Yes &mdash; this means we can’t rule out a serious condition
          </span>
        </label>
        <label class="block-label">
          <input id="not-sure" name="answer" value="not-sure" type="radio" class="selection-button-radio">
          I’m not sure
        </label>
        <label class="block-label">
          <input id="no" name="answer" value="no" type="radio" class="selection-button-radio">
          No
        </label>
      </fieldset>
    </div>
    <a href="javascript: return false;" class="button">Next question</a>
  </form>
</div>

<section class="page-section content-block">
  <details class="measure">
    <summary><span>
        <span class="details__arrow"></span>
        Help us improve this question
    </span></summary>
    <div>
      <form>
        <p>Does it make sense? Do you understand all the words?</p>
        <p>We use feedback to make the service better but can't reply to any comments. Don't include any medical or personal information like your name or email.</p>
        <textarea class="feedback" cols="20"></textarea>
        <button class="button">Send feedback</button>
      </form>
    </div>
  </details>
</section>

{% endblock %}
