{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    You and the people you live with need to self-isolate
  </h1>

  <p>
    Do not leave your home if you have symptoms of coronavirus (COVID-19) or
    live with someone who does.
  </p>

  <p>
    This is called self-isolation.
  </p>

  <p>
    If you are self-isolating, you must:
  </p>
  <ul>
    <li>
      not leave your home for any reason, other than to exercise once a day –
      but stay at least 2 metres (3 steps) away from other people
    </li>
    <li>
      not go out to buy food or collect medicine – order them by phone or online,
      or ask someone else to drop them off at your home
    </li>
    <li>
      not have visitors, such as friends and family, in your home
    </li>
  </ul>

  <p>
    You can use your garden, if you have one.
  </p>

  <div class="callout callout--attention nhsuk-u-margin-bottom-6">
    <p>
      To protect others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>

  <p>
    If you have a high temperature and other symptoms not related to cold or flu,
    <a href="#">check them using 111 online again.</a>
  </p>

  <div class="callout callout--info nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
    <p>
      Testing for coronavirus is not needed if you’re staying at home.
    </p>
  </div>

  <div class="nhsuk-u-margin-top-6">
    <a class="button" href="stay-at-home-hub-alone">
      Next
    </a>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
