{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    You need to stay at home for 7 days
  </h1>

  <div class="callout callout--attention nhsuk-u-margin-bottom-6">
    <p>
      To protect others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>

  <p>
    If you have a high temperature and other symptoms not related to cold or flu,
    <a href="#">check them using 111 online again.</a>
  </p>

  <div class="callout callout--info nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
    <p>
      Testing for coronavirus is not needed if you’re staying at home.
    </p>
  </div>

  <h2 class="nhsuk-heading-l">
    What to do during the stay at home period
  </h2>

  <p>
    There are things you can do during your isolation period. Read more about:
  </p>
  <ul>
    <li>
      how to avoid spreading infection
    </li>
    <li>
      getting daily text messages from the NHS
    </li>
    <li>
      getting an isolation note
    </li>
  </ul>
  <div class="nhsuk-u-margin-top-6">
    <a class="button" href="stay-at-home-hub-alone">
      Next
    </a>
  </div>
  <!--
  <div class="nhsuk-u-margin-top-6">
    <a class="nhsuk-action-link__link" href="stay-at-home-hub-alone">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Find out more</span>
    </a>
  </div>
  -->

</div>

{% endblock %}

{% set suppress_feedback = true %}
