{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <div class="disposition-set">

    <div class="disposition-unit">
      <h1 class="nhsuk-heading-xl">You need to isolate yourself and stay indoors</h1>
      <p>
        If you’re on public transport, go home by the most direct route. Stay at
        least 2 metres away from people if you can.
      </p>
      <p>
        If you’re away from home:
      </p>
      <ul>
        <li>find a room where you can close the door</li>
        <li>avoid touching people, surfaces and objects</li>
      </ul>
      <div class="callout callout--attention">
        <p>
          To protect yourself and others, <b>do not go</b> to a GP, pharmacy or hospital
        </p>
      </div>
      <div class="callout callout--info">
        <p>
          You should keep yourself separate from others in your household (self-isolate)
          until you have spoken to 111.
          <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
            Read more details about self-isolation.
          </a>
        </p>
      </div>
    </div>

    <div class="disposition-unit">
      <h1 class="nhsuk-heading-l">Book a call with a 111 nurse</h1>
      <p>
        A nurse needs to speak to you to get you the right help.
      </p>
      <p>
        They’ll talk to you about your symptoms and arrange a coronavirus test for
        you if you need one.
      </p>
      <p>
        You should get a call within 24 hours.
      </p>
    </div>
  </div>

  <p>
    <a href="javascript: return false;" class="button">Fill in my details now</a>
  </p>
</div>

{% endblock %}

{% set suppress_feedback = true %}
