{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <p>
    <a href="javascript:window.history.back();" class="button-back">Back</a>
  </p>

  <div class="callout callout--attention">
    <p>
      Find out <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/how-to-register-with-a-gp-practice/">
      how to register with a GP</a> if you don’t already have one.
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  {% set acuity = "low" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
