{% extends '_layouts/layout.html' %}

{% block page_title %}NHS 111{% endblock %}

{% block content %}

<div class="measure">
  <h1 class="heading-xlarge">
    Have you also got diarrhoea?
  </h1>

  <form id="test">
    <div class="form-group">
      <fieldset>
        <label class="block-label">
          <input id="yes" name="answer" value="yes" type="radio" class="selection-button-radio">
          <span>
            Yes
          </span>
        </label>
        <label class="block-label">
          <input id="not-sure" name="answer" value="not-sure" type="radio" class="selection-button-radio">
          I’m not sure
        </label>
        <label class="block-label">
          <input id="no" name="answer" value="no" type="radio" class="selection-button-radio">
          No
        </label>
      </fieldset>
    </div>
    <a href="question-3" class="button">Next question</a>
    <p>
      <a href="question-1">Change my previous answer</a>
    </p>
  </form>
</div>

<section class="page-section">
  <details class="measure">
    <summary><span>
        <span class="details__arrow"></span>
        Help us improve this question
    </span></summary>
    <div>
      <form>
        <p>Does it make sense? Do you understand all the words?</p>
        <p>We use feedback to make the service better but can't reply to any comments. Don't include any medical or personal information like your name or email.</p>
        <textarea class="feedback" cols="20"></textarea>
        <button class="button">Send feedback</button>
      </form>
    </div>
  </details>
</section>

{% endblock %}

{% block body_after %}
  <script>
    $('#test input').on('change', function() {
      $('#test-warning-yes, #test-warning-unsure').addClass('js-hidden');
      if ($('#test input:checked').val() === 'yes') {
        $('#test-warning-yes').removeClass('js-hidden');
      }
      if ($('#test input:checked').val() === 'not-sure') {
        $('#test-warning-unsure').removeClass('js-hidden');
      }
    });
  </script>
{% endblock %}
