{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}
<div class="measure">

  <div class="content-block">
    <h1>Why we need your details </h1>
    <p>
      Sending your phone number, name and home postcode helps the pharmacist
      find your NHS number.
    </p>
    <p>
      As they'll know who you are you'll pay standard NHS charges. If you're
      exempt you won't pay.
    </p>
    <p>
      You might be asked to show some identification when you get there.
    </p>

    <h2>Contacting them before you go</h2>
    <p>
      If you phone them before you go they'll tell you:
    </p>
    <ul>
      <li>if they're able to give you the medicine</li>
      <li>if they have it in stock</li>
      <li>what to do if they can’t help</li>
    </ul>
    <p>
      If you don’t contact or go to the pharmacy they'll have to phone you to
      make sure you’re OK.
    </p>
  </div>

  <div class="content-block">
    <a href="/emergency-prescription-wizard/service/user-info/phone" class="button">Enter my details</a>
    <p>
      <a href="javascript:window.history.back();">
        Cancel and go back
      </a>
    </p>
  </div>

</div>
{% endblock %}
