{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">You need to stay at home</h1>

  <div class="callout callout--attention nhsuk-u-margin-bottom-6">
    <p>
      To protect others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
    <p>
      If you have a high temperature and other symptoms not related to cold or flu,
      <a href="#">check them using 111 online again.</a>
    </p>
  </div>

  <h2 class="nhsuk-heading-l">To avoid spreading infection</h2>

  <div class="callout callout--warning">
    <p>
      Stay away from other people for at least the next 7 days. If you have a high
      temperature and it lasts longer than 7 days, stay at home until it’s back
      to normal.
    </p>
    <p>
      Testing for coronavirus is not needed if you’re staying at home.
    </p>
  </div>

  <p>
    <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
      You can read more stay at home advice on NHS.UK.
    </a>
  </p>

  <h3 class="nhsuk-heading-m">
    How to look after your symptoms at home
  </h3>

  <ul>
    <li>
      rest and drink plenty of fluids
    </li>
    <li>
      take paracetamol or ibuprofen
    </li>
    <li>
      cover the mouth with a tissue when coughing or sneezing
    </li>
    <li>
      put used tissues in a bin
    </li>
    <li>
      wash your hands regularly with warm water and soap for at least 20 seconds
    </li>
  </ul>

  <p>
    If you feel you can’t cope with your symptoms at home or your condition gets
    worse use the 111 online service again.
  </p>

  <h3 class="nhsuk-heading-m">
    What to do after 7 days
  </h3>

  <p>
    You should remain at home until 7 days after your symptoms started.
  </p>
  <p>
    After 7 days, if you feel better and no longer have a high temperature, you
    can go back to doing what you would normally do.
  </p>
  <p>
    The cough may go on for some weeks in some people, even though the coronavirus
    infection has cleared. A cough by itself does not mean you have to stay at
    home for more than 7 days.
  </p>
  <p>
    If you do not get better after 7 days use the 111 online assessment
    service again before you leave your home or let visitors in.
  </p>


</div>

{% endblock %}

{% set suppress_feedback = true %}
