{% set use_question_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    Before you continue
  </h1>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 class="nhsuk-heading-m">
    You need to stay away from other people
  </h2>
  <p>
    Your symptoms suggest that you could have a coronavirus infection.
  </p>
  <p>
    We’ll ask you more questions and tell you what to do next.
  </p>
  <p>
    Then:
  </p>
  <ul>
    <li>
      make your way home if not already there
    </li>
    <li>
      go by the most direct route if using public transport
    </li>
    <li>
      stay at least 2 metres (3 steps) away from people if you can
    </li>
  </ul>

  <p>
    To protect others, <b>do not go</b> to a GP, pharmacy or hospital
  </p>

  <div class="form-group">
    <button type="submit" class="button">Next</button>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
{% block custom_feedback %}
  {% set feedback_title = 'Help us improve this question' %}
  {% include 'coronavirus/_components/feedback.html' %}
{% endblock %}
