{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">

    <h1 class="nhsuk-heading-xl">
      Check if you have coronavirus symptoms
    </h1>

    <p>
      We will:
    </p>
    <ul>
      <li>
        ask you a few questions
      </li>
      <li>
        tell you what to do next
      </li>
    </ul>

    <div class="callout callout--attention nhsuk-u-margin-bottom-6">
      <p>
        To protect others, <b>do not go</b> to a GP, pharmacy or hospital.
      </p>
    </div>

    <p>
      <a class="button" href="javascript: return false;">
        Start now
      </a>
    </p>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        On NHS.UK:
      </span>
      About coronavirus (COVID-19)
    </h2>
    <p>
      Read general information such as:
    </p>
    <ul>
      <li>
        <a href="#">how to avoid catching or spreading the virus</a>
      </li>
      <li>
        <a href="#">stay at home advice</a>
      </li>
    </ul>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h3 class="nhsuk-heading-s">Advice in other parts of the UK</h3>
    <!-- NOTE updated links -->
    <ul>
      <li>
        <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19">
          Check your symptoms in Scotland
        </a>
      </li>
      <li>
        <a href="https://www.nhsdirect.wales.nhs.uk/SelfAssessments/symptomcheckers/?ScName=CoronaVirusCOVID19&SCTId=175">
          Check your symptoms in Wales
        </a>
      </li>
      <li>
        <a href="https://www.publichealth.hscni.net/news/covid-19-coronavirus">
          Northern Ireland
        </a>
      </li>
    </ul>

  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
{% block custom_feedback %}
  {% set feedback_title = 'Help us improve this page' %}
  {% include 'coronavirus/_components/feedback.html' %}
{% endblock %}
