{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">111.NHS.UK</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">COVID-19</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two">COVID-19</a></p>
  </nav>

  <h1 class="nhsuk-heading-xl">
    How long to isolate for and managing symptoms at home
  </h1>

  <p>
    NHS.UK has information to help if you have symptoms. You can find out:
  </p>
  <ul>
    <li>
      <a href="#">how long to isolate for</a> if you or someone you live with has symptoms
    </li>
    <li>
      <a href="#">how to look after yourself</a> and manage your symptoms at home
    </li>
  </ul>

  <div class="callout callout--attention">
    <p>
      To protect others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>


  <h2 class="nhsuk-heading-l">
    What to do next
  </h2>

  <div class="disposition-set">

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-m">
        Coronavirus testing
      </h2>
      <p>
        You can register your details on the home testing website to be sent a
        coronavirus test kit.
      </p>
      <p>
        The test kit information will explain how to carry out the simple swab test
        yourself. You then return it to be analysed and wait for the result.
      </p>
      <a class="nhsuk-action-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Register your details</span>
      </a>
    </div>

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-m">
        Get an isolation note to give to your employer
      </h2>
      <p>
        You can send an isolation note to your employer as proof you need to stay
        off work because of coronavirus.
      </p>
      <p>
        You do not need to get a note from a GP.
      </p>
      <p>
        <a class="nhsuk-action-link__link" href="https://111.nhs.uk/isolation-note">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Get an isolation note</span>
        </a>
      </p>
    </div>

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-m">
        Get NHS text messages and share updates while you are isolating
      </h2>
      <p>
        Sign up to text messaging to get advice and provide updates on your
        symptoms every day.
      </p>
      <p class="small">
        Link opens in a new tab or window
      <p>
      <p>
        <a class="nhsuk-action-link__link" href="http://nhs111-gpoc.herokuapp.com/">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Sign up</span>
        </a>
      </p>
    </div>

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-m">
        Take part in the coronavirus symptom survey
      </h2>
      <p>
        Help the NHS understand more about the virus and how it affects people.
      </p>
      <p class="small">
        Link opens in a new tab or window
      <p>
      <p>
        <a class="nhsuk-action-link__link" href="http://nhs111-gpoc.herokuapp.com/">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Take part</span>
        </a>
      </p>
    </div>

  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <p class="small">
    <a href="#">Bookmark this page</a>
  </p>
</div>

{% endblock %}

{% set suppress_feedback = true %}
