{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    You and the people you live with should not leave your home for any reason
  </h1>

  <div class="callout callout--warning nhsuk-u-margin-bottom-6">
    <p>
      Your symptoms suggest that you could have a coronavirus infection.
    </p>
  </div>

  <p>
    Do not leave your home if you have symptoms or live with someone who does.
  </p>
  <p>
    This is called self-isolation. Self-isolation is for people with symptoms.
    It is different to staying at home and social distancing, which is for
    everyone.
  </p>

  <p>
    If you are self-isolating, you must:
  </p>
  <ul>
    <li>
      not go out to buy food or collect medicine – order them by phone or online,
      or ask someone else to drop them off at your home
    </li>
    <li>
      not have visitors, such as friends and family, in your home
    </li>
  </ul>

  <p>
    You can use your garden, if you have one. Any exercise should be done at home.
  </p>

  <div class="nhsuk-u-margin-top-6">
    <a class="button" href="dx391-b">
      Next
    </a>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
