{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">111.NHS.UK</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">COVID-19</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two">COVID-19</a></p>
  </nav>

  <h1 class="nhsuk-heading-xl">
    Getting tested and managing symptoms at home
  </h1>

  <p>
    NHS.UK has information to help if you have symptoms. You can find out:
  </p>
  <ul>
    <li>
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/staying-at-home-if-you-or-someone-you-live-with-has-coronavirus-symptoms/">how long to isolate for</a> if you or someone you live with has symptoms
    </li>
    <li>
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/how-to-treat-coronavirus-symptoms-at-home/">how to manage your symptoms at home</a> and what to do if you feel worse
    </li>
  </ul>
  <p>
    To protect others, <b>do not go</b> to a GP, pharmacy or hospital
  </p>

  <div class="callout callout--attention nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
    <h2 class="nhsuk-heading-l">
      Ask for a test to check if you have coronavirus
    </h2>
    <p>
      The test will show if you have the virus now.
    </p>
    <p>
      People in hospital, NHS staff and key workers are getting priority, but
      anyone with symptoms can apply.
    </p>
    <p>
      If you can’t get a test straightaway you should try again later.
    </p>
    <p>
      You can get the test by either:
    </p>
    <ul>
      <li>
        going to a drive-through testing centre if you have a car (you can’t get a
        taxi)
      </li>
      <li>
        getting a home test kit sent to you
      </li>
    </ul>
    <a class="nhsuk-action-link__link" href="#">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Ask for a coronavirus test</span>
    </a>
  </div>

  <h2 class="nhsuk-heading-l">
    Other things you can do on NHS.UK
  </h2>
  <p>
    You can also:
  </p>
  <ul>
    <li>
      <a href="#">get an isolation note</a> (like a sick note) to give to your
      employer if you need time off work
    </li>
    <li>
      help the NHS plan its response to coronavirus by <a href="#">telling us
      about your current experience of the virus</a>
    </li>
    <!--
    <li>
      <a href="#">share your mobile number</a> to get advice and links to
      trusted sources of information and support
    </li>
    -->
  </ul>

  <p>
    <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">
      Go to NHS.UK for more coronavirus information
    </a>
  </p>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <p class="small">
    <a href="#">Bookmark this page</a>
  </p>
</div>

{% endblock %}

{% set suppress_feedback = true %}
