{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">

  <div class="callout callout--attention measure">
    <h1 class="nhsuk-heading-l">Contact your GP now</h1>
  </div>

  <details>
    <summary><span>
      I can’t see a GP today
    </span></summary>
    <div>
      <p>Tell us why you can’t see a GP</p>
      <ul>
        <li>
          <a href="scenario-1">I can’t get an appointment today</a>
        </li>
        <li>
          <a href="scenario-1">I don’t have a GP</a>
        </li>
        <li>
          <a href="scenario-1">I’m away from home</a>
        </li>
      </ul>
    </div>
  </details>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% set acuity = "high" %}
    {% include 'service-display/_components/worsening-symptoms.html' %}
  </div>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
