{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <p>
    <a href="javascript:window.history.back();" class="button-back">Back</a>
  </p>

  <div class="callout callout--attention">
    <p>
      You don’t need to be registered with a GP to ask for an emergency appointment.
      You can contact any surgery near you to ask if they can see you today.
    </p>
    <p>
      <a href="javascript: return false;">Find a GP on NHS.UK</a>
    </p>
  </div>

  <p>
    If you can’t get an appointment today, <a href="javascript: return false;">find more ways to get help</a>
  </p>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  {% include 'service-display/_components/care-advice.html' %}

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  {% set acuity = "high" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = 53.801732;
    var serviceLng = -1.551858;
    var userLat = 53.804741;
    var userLng = -1.564623;
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
  </script>
{% endblock %}
