{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">
  
  <div class="content-block">

    {% if error.general %}
        <div class="error-summary">
          <div>
            <h3>There's a problem</h3>
            <p><a href="">{{ error.general }}</a></p>
          </div>
        </div>
    {% endif %}
    
        <h1>How 111 online works</h1> <!-- Getting help near you -->
        <p>The online service is the same as the 111 telephone service.</p>
    <div class="">
        <p>1. You answer questions about your symptoms - some are to rule out more serious conditions</p>
        <p>2. You won’t get a diagnosis, but you’ll find out what to do next - what NHS service you might need and how urgently</p>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>
    <h2>Getting help wherever you are</h2> <!-- Getting help no matter where you are -->
    <p>You might not always be at home when you need help. Tell us where you are to get the 111 online service in that area.</p>

    <form method="post" class="formmodule">
        <fieldset>
          <div class="form-group {% if error.general %}-errors error-indent{% endif %}">
            <div>
              <label for="postcode">Postcode</label>
              <!-- <span class="form-hint">This could be your home postcode or wherever you want help</span> -->
              {% if error.postcode %}
                <div class="error-hint">
                  <div>
                    <p>{{ error.postcode }}</p>
                  </div>
                </div>
              {% endif %}
              <div class="postcode-inline-change"><input type="text" id="postcode" name="postcode" value="{{ session.postcode }}" class="-small"></div> <!--  -->
            </div>
          </div>
        </fieldset>

        <div class="form-group -controls">
          <button type="submit" class="button">Next</button>
        </div>

    </form>
  </div>

<!--   <div class="callout callout--muted ">
    <p>The service is not a replacement for seeing a health professional. Read our <a href="javascript: return false;">terms and conditions</a>.</p>
  </div> -->

</div>


{% endblock %}

{% block footer %}{% endblock %}
