{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">See a health care service urgently</h1>
  <div class="content-seperator"></div>
  <div class="precis">You should see a GP within 1 hour</div>
</div>

<div class="measure">
<!-- <div>
      <p>If you're not registered with a GP, you can get advice for registering at <a href="">NHS GP services website</a></p>
</div> -->
<div class="content-block">
  <h2 class="heading-large">If you can't see a GP</h2>
  <details>
    <summary class="title">There is 1 place you can visit</span></summary>
    <div class="signage">
      <p>
        They will check your answers and give you advice on what to do next
      </p>

      <div class="card">
        <h3>Walk in Centre - Leeds, West Yorkshire (Shakespeare Medical Practice)</h3>
        <ul class="address-list">
          <li>Burmantofts Health Centre, Cromwell Mount</li>
          <li>Leeds, LS17 7NA</li>
          <li>Open today: 08:00 to 20:00</li> 
          <li><div class="content-seperator content-seperator--equalvertspacing"></div></li>
          <li>This service doesn't require an appointment</li>
          <li><a href="javascript: return false;">Get directions</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </details>

</div>

<div class="callout callout--attention">
  <h2>Call 111 if your symptoms get worse</h2>
  <p>If there are any new symptoms, or if the condition gets worse, call NHS 111 for advice.</p>
</div>

<div class="content-block">
<p>If you're not registered with a GP, read advice on <a href="https://www.nhs.uk/NHSEngland/AboutNHSservices/doctors/Pages/patient-choice-GP-practices.aspx">how to join an NHS GP practice</a></p>
  <h2>What you can do in the meantime</h2>

  <!-- <h3>Registering for a GP</h3> -->


  <h3>Medication, pain and/or fever</h3>
  <ul>
    <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist.</li>
  </ul>

  <h3>Headache</h3>
  <ul>
    <li>A heated pad or covered hot water bottle on the back of your neck may help ease the pain.</li>
    <li>Avoid hot or cold food and drinks.</li>
    <li>See a dentist for your toothache. Any other cures will be temporary.</li>
  </ul>

</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
