{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">
  
  <div class="content-block">


    <h1>Federated prototype</h1>
    <p>Describes the services, determines location and directs to an appropriate starting point.</p>
    <ul>
      <li>LS15123 - (Pathways)</li>
      <li>SW1123 - (Babylon)</li>
      <li>SU30123 - (Expert 24)</li>
    </ul>

    <p><a href="federated-start" class="button">Start</a></p>

  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
