{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">
  
    <div class="content-block">

        <h1>Get help from 111 online</h1> <!-- Getting help near you -->
        <p>Download a free app, answer questions about your symptoms and find out what to do next.</p>
        <p>If you don’t want to use the app now, call 111 for health advice.</p>
        <p>This service is for people aged 17 and over.</p>

        <div class="callout callout--info">
            <ul class="app-panel">
                <li class="icon"><img src="/images/nhs_111_app_icon.png" /></li>
                <li class="header">NHS 111 London</li>
                <li class="description">
                    <ul>
                        <li>Babylon Health</li>
                        <li>Cost: Free</li>
                        <li>Size: 149 MB</li>
                    </ul>
                </li>
                <li class="appstore"><a href="https://play.google.com/store/apps/details?id=com.babylon.nhs"><img alt="Get it on Google Play" src="/images/google_play_badge.png" height="48"/></a><a href="https://itunes.apple.com/gb/app/nhs-111/id1196229018?mt=8"><img src="/images/app_store_badge_US-UK_135x40.svg" height="48"/></a></li>
            </ul>


        </div>


    </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
