{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">
  
    <div class="content-block">

        <h1>How 111 online works</h1> <!-- Getting help near you -->
        <p>
The Suffolk 111 online website is free to use and points you to the right NHS care.</p>

        <ul>
            <li>go the website and answer questions about your symptoms</li>
            <li>get advice on what NHS service you might need and how urgently</li>
        </ul>

    <div class="callout callout--info">
        <p>Call 111 if you're asking about someone under 2</p>
    </div>

        <a href="https://www.111onlinesuffolk.careuk.com/portal/careuk/" class="button">Start</a>

        <p>If you don’t want to use this website call 111 for health advice.</p>

    </div>
    
</div>

{% endblock %}

{% block footer %}{% endblock %}
