{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="error-hint">Phone 999</h1>

  <p class="lede">Because you’re unable to provide an address, you need to call 999.</p>

  <p>The 999 operator will ask:</p>
  <ul>
    <li>where you are &mdash; the area or what’s nearby</li>
    <li>what phone number they can call you back on if you get cut off</li>
    <li>what’s happened</li>
    <li>more about your symptoms</li>
  </ul>

</div>

{% endblock %}

{% block footer %}{% endblock %}
