{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}
<div class="content-block measure clearfix">

  <h1>Check {% if session.proxy == true %}their{% else %}your{% endif %} details</h1>

  <!-- ##################################################################### -->
  <!-- single user, at home -->
  <dl class="check-details">
    <div class="-row">
      <dt class="-key">
        Name
      </dt>
      <dd class="-value">
        Sarah Philips
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Date of birth
      </dt>
      <dd class="-value">
        5 January 1978
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> date of birth</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Sex
      </dt>
      <dd class="-value">
        Female
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> sex</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Home address
      </dt>
      <dd class="-value">
        1 Folly Farm South Cottages<br>
        Sulhamstead Hill<br>
        Sulhamstead<br>
        Reading<br>
        Berkshire<br>
        RG7 4DG
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> location</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Number to call
      </dt>
      <dd class="-value">
        07945 123 321
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> number to call</span>
        </a>
      </dd>
    </div>
  </dl>

  <!-- ##################################################################### -->
  <!-- single user, not at home -->
  <dl class="check-details">
    <div class="-row">
      <dt class="-key">
        Name
      </dt>
      <dd class="-value">
        Sarah Philips
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> name</span>
        </a>
      </dd>
    </div>
    <!-- fallback from DOB -->
    <div class="-row">
      <dt class="-key">
        Age
      </dt>
      <dd class="-value">
        42
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> date of birth</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Sex
      </dt>
      <dd class="-value">
        Female
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> sex</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Home postcode
      </dt>
      <dd class="-value">
        RG7 4DG
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> home postcode</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Location address
      </dt>
      <dd class="-value">
        Department of Health<br>
        Skipton House<br>
        80 London Road<br>
        London<br>
        SE1 6LH
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> location</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Number to call
      </dt>
      <dd class="-value">
        07945 123 321
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> number to call</span>
        </a>
      </dd>
    </div>
  </dl>

  <!-- ##################################################################### -->
  <!-- proxy user, at home -->
  <div class="callout callout--info">
    <p>
      We’ll call your number. Sarah might have to answer some questions during the call.
    </p>
  </div>
  <dl class="check-details">
    <div class="-row">
      <dt class="-key">
        Your name
      </dt>
      <dd class="-value">
        Jeff Jefferson
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Number to call
      </dt>
      <dd class="-value">
        07945 123 321
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> number to call</span>
        </a>
      </dd>
    </div>
  </dl>

  <dl class="check-details">
    <div class="-row">
      <dt class="-key">
        Who needs help
      </dt>
      <dd class="-value">
        Sarah Philips
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Their date of birth
      </dt>
      <dd class="-value">
        5 January 1978
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> date of birth</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Their sex
      </dt>
      <dd class="-value">
        Female
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> sex</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Their home address
      </dt>
      <dd class="-value">
        1 Folly Farm South Cottages<br>
        Sulhamstead Hill<br>
        Sulhamstead<br>
        Reading<br>
        Berkshire<br>
        RG7 4DG
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> location</span>
        </a>
      </dd>
    </div>
  </dl>

  <!-- ##################################################################### -->
  <!-- proxy user, not at home -->
  <div class="callout callout--info">
    <p>
      We’ll call your number. Sarah might have to answer some questions during the call.
    </p>
  </div>
  <dl class="check-details">
    <div class="-row">
      <dt class="-key">
        Your name
      </dt>
      <dd class="-value">
        Jeff Jefferson
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Number to call
      </dt>
      <dd class="-value">
        07945 123 321
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> number to call</span>
        </a>
      </dd>
    </div>
  </dl>

  <dl class="check-details">
    <div class="-row">
      <dt class="-key">
        Who needs help
      </dt>
      <dd class="-value">
        Sarah Philips
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> name</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Their date of birth
      </dt>
      <dd class="-value">
        5 January 1978
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> date of birth</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Their sex
      </dt>
      <dd class="-value">
        Female
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> sex</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Home postcode
      </dt>
      <dd class="-value">
        RG7 4DG
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> home postcode</span>
        </a>
      </dd>
    </div>
    <div class="-row">
      <dt class="-key">
        Location address
      </dt>
      <dd class="-value">
        Department of Health<br>
        Skipton House<br>
        80 London Road<br>
        London<br>
        SE1 6LH
      </dd>
      <dd class="-actions">
        <a href="javascript: return false;">
          Change<span class="visuallyhidden"> location</span>
        </a>
      </dd>
    </div>
  </dl>

  <p>
    Sending this data ... legal
  </p>

  <div class="form-group -controls">
    <a href="{{ session.callBooking.forwardUrl }}" class="button">Send details</a>
  </div>

</div>

{% endblock %}
