{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="nhsuk-heading-l">Where are {% if session.proxy == true %}they{% else %}you{% endif %} right now?</h1>
  <div class="callout callout--info">
    <p>
      If we know the address we can send help if we need to.
    </p>
  </div>
</div>

<div class="address-listing">

  {% for address in session.addressResults %}
    {% set addressString  = '' %}
    {% for addressLine in address %}
      {% if addressLine !== '' %}
        {% if loop.first == false %}
          {% set addressString  = addressString + ', ' %}
        {% endif %}
        {% set addressString  = addressString + addressLine %}
      {% endif %}
    {% endfor %}
    {% set addressString  = addressString + ', ' + session.postcode %}
    <a href="/book-callback/home-postcode?selected={{ loop.index0 }}" class="address">
      {{ addressString }}
    </a>
  {% endfor %}

</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <p>
    <a href="/book-callback/address-not-found">{% if session.proxy == true %}They’re{% else %}I’m{% endif %} not at any of these places</a>
  </p>
</div>

{% endblock %}
