{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <form action="" method="post" class="form">

    <div class="error-summary">
      <h2 class="error-heading">There’s a problem</h2>
      <p>
        Choose an answer
      </p>
    </div>

    <h1 class="nhsuk-heading-l">Do you have any long-term conditions?</h1>

    <div class="form-group -errors">
      <fieldset>
        <label class="block-label">
          <input id="no" name="no" value="" type="radio" class="selection-button-radio">
          <span>
            Yes
          </span>
        </label>
        <label class="block-label">
          <input id="no" name="no" value="" type="radio" class="selection-button-radio">
          <span>
            No
          </span>
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <p><button type="submit" class="button">Next</button></p>
    </div>

  </form>

</div>

{% endblock %}

{% set suppress_feedback = false %}
