{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    Do you have a new rash all over your body that won’t turn white or won’t go
    away when you press a glass on it?
  </h1>

  <figure class="nhsuk-image">
    <img src="/images/meningitis-rash.jpg" alt="" class="nhsuk-image__img">
    <!--<figcaption class="nhsuk-image__caption">Well hello there!</figcaption>-->
  </figure>

  <div class="callout callout--info">
    <p>
      This rash can be a sign of meningitis. The rash may be red-blue, purple,
      brown, pin prick size or larger blotches or blood blisters. On darker skin,
      check the paler areas like palms or soles.
    </p>
  </div>

  <form action="question-handler" method="post" class="form">

    <div class="form-group">
      <fieldset>
        <label class="block-label">
          <input name="answer" value="" type="radio" class="selection-button-radio">
          <span>
            Yes - the rash doesn’t go away under the glass
          </span>
        </label>
        <label class="block-label">
          <input name="answer" value="" type="radio" class="selection-button-radio">
          <span>
            I don’t know
          </span>
        </label>
        <label class="block-label">
          <input name="answer" value="" type="radio" class="selection-button-radio">
          <span>
            No
          </span>
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <p><button type="submit" class="button">Next</button></p>
      <p><a href="javascript: return false;">Change my previous answer</a></p>
    </div>

  </form>

</div>

{% endblock %}
