<div class="callout callout--info shunt-2">
  <p>On <a href="https://nhs.uk">NHS.UK</a> you can:</p>
  <ul>
    <li>
      find out how to get an <a href="https://www.nhs.uk/chq/Pages/1011.aspx?CategoryID=73">emergency prescription</a>
    </li>
    <li>
      read more about <a href="https://beta.nhs.uk/medicines/">medicines</a>
    </li>
    <li>
      get information on a <a href="https://www.nhs.uk/conditions/">health problem or condition</a>
    </li>
    <li>
      look up <a href="https://www.nhs.uk/service-search">opening times and addresses</a> for NHS services
    </li>
  </ul>
</div>
