{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="heading-xxlarge">{{ category | title | replace("-", " ") }}</h1>

  <!--
  Age: {{ session.demographics.age }}
  Age: {{ session.demographics.ageCategory }}
  Sex: {{ session.demographics.sex }}
  -->

  {% for result in results %}
  <!--
  {{ result._source.PW_Age }}
  {{ result._source.PW_Gender }}
  {{ result._source.categories }}
  -->
  <a href="/weird-questions?pw={{ result._source.PW_id }}" class="topic">
    <span class="topic-title">
      {{ result._source.DigitalTitles | safe }}
    </span>
    <span class="topic-description">
      {{ result._source.DigitalDescription | safe }}
    </span>
  </a>
  {% endfor %}

</div>

<div class="content-block shunt-2 measure">
  <details>
    <summary><span>I can’t find the right topic</span></summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="/weird-questions?pw=1346">rule out serious conditions.</a>
    </p>
  </details>
</div>

{% endblock %}

{% block footer %}{% endblock %}
