{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading-xxlarge">Find the right topic</h1>

    <form method="get" action="">
      <div class="form-group">
        <p>
          If you have more than 1 symptom, choose the one that's bothering you
          most today.
        </p>
        <p>
          Search for symptoms like ‘stomach ache’ or ‘rash’ rather than names
          of conditions.
        </p>
        <div class="search">
          <input type="text" id="query" name="query" autocomplete="off">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
    </form>

    <p>
      You can also <a href="browse">browse topics by category.</a>
    </p>

  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
