{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">You need to isolate yourself and stay indoors</h1>
  <p>
    If you’re on public transport, go home by the most direct route. Stay at
    least 2 metres away from people if you can.
  </p>
  <p>
    If you’re away from home:
  </p>
  <ul>
    <li>find a room where you can close the door</li>
    <li>avoid touching people, surfaces and objects</li>
  </ul>

  <div class="callout callout--attention">
    <p>
      To protect yourself and others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>

  <div class="callout callout--info">
    <p>
      You should keep yourself separate from others in your household (self-isolate)
      until you have been spoken to 111.
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more details about self-isolation.
      </a>
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 class="nhsuk-heading-m">
    Call 111 if you start to develop symptoms of:
  </h2>
  <ul>
    <li>shortness of breath</li>
    <li>high temperature (feeling hot to touch on the chest or tummy)</li>
    <li>a cough</li>
  </ul>
  <p>
    Make sure you select the option to speak to someone. Tell them you
    are calling about possible coronavirus (COVID-19) symptoms.
  </p>
  <div class="callout callout--warning">
    <p>
      The phone service will be very busy but you <strong>must</strong> wait
      until you get through.
    </p>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
