{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="nhsuk-heading-xl">Call NHS 111 to speak to a nurse</h1>

  <div class="callout callout--warning">
    <p>
      The phone service will be very busy, but you <b>must</b> wait until you can speak
      to someone.
    </p>
  </div>
  <p>
    Tell 111 that you are calling about coronavirus. You must tell them where
    you have travelled and about any contact you have had with someone with
    symptoms.
  </p>
  <p>
    111 will arrange a test for you if you need one.
  </p>

  <div class="callout callout--info">
    <p>
      You should keep yourself separate from others in your household (self-isolate)
      until you have spoken to 111.
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more details about self-isolation.
      </a>
    </p>
  </div>

  <div class="callout callout--attention">
    <p>
      To protect yourself and others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>
</div>

{% endblock %}

{% set suppress_feedback = true %}
