{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    Your details have been sent
  </h1>
  <p>
    You’ll be contacted within 24 hours and told what to do next.
  </p>
  <div class="callout callout--info">
    <p>
      Make sure you keep yourself separate from others in your household (self-isolate)
      until you have been contacted by the testing service.
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more details about self-isolation.
      </a>
    </p>
  </div>

  <h3 class="nhsuk-heading-m">What to do if you start to feel worse</h3>
  <p>
    Call 111 and tell them you are calling about coronavirus symptoms.
  </p>
  <p>
    The phone service will be very busy, but you <b>must</b> wait until you get through.
  </p>
  <div class="callout callout--attention">
    <p>
      To protect yourself and others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
