<details>
  <summary><span>What if I don’t get a call in {{ timeframe }}?</span></summary>
  <div>
    {% if timeframe === "20 minutes" or timeframe === "30 minutes" %}
    <p>
      Call 111, tell them your name and that you've been waiting for an urgent call back that
      you booked online. They should be able to find you in the call back queue
      using the same details.
    </p>
    {% endif %}
    {% if timeframe === "1 hour" or timeframe === "2 hours" or timeframe === "4 hours" %}
    <p>
      It’s safe to wait a bit longer. But if you’re worried call 111, tell
      them your name and that you’ve been waiting for a call back that was booked online.
    </p>
    {% endif %}
    {% if timeframe === "6 hours" or timeframe === "12 hours" or timeframe === "24 hours" %}
    <p>
      You should get a call within that time. If you don't, call 111, tell them your name and that you booked a call online.
    </p>
    {% endif %}
  </div>
</details>
