<div class="canva-sidebar ">
<button class="canva-sidebar__btn d-none d-lg-flex align-items-center border-0 p-2 ml-auto mr-2 mt-3"></button>

<a href="javascript: return false;" class="navbar-brand d-flex mx-auto mt-3">
<img src="https://nhs111.virtually.healthcare/images/logo--white.svg" class="mx-auto" alt="Virtually" width="140" height="35">
</a>
<div class="team-info mx-auto text-center my-3">
<div class="team-info__profile-image rounded-circle position-relative">
<img class="d-block position-absolute" src="https://nhs111.virtually.healthcare/media/team/0">
</div>

<span class="small text-white">Archway Medical Centre</span>
</div>

<ul class="sidebar-nav">
<!-- Patient Menu -->
<li class="sidebar-nav__item ">
<a href="javascript: return false;">
    <i class="fal fa-home mr-2"></i>
    <span>My Dashboard</span>
</a>
</li>
        <li class="sidebar-nav__item ">
    <a href="javascript: return false;">
        <i class="fal fa-folder-open mr-2"></i>
        <span>My Documents</span>
    </a>
</li>



        <li class="sidebar-nav__item ">
    <a href="javascript: return false;">
        <i class="fal fa-stethoscope mr-2"></i>
        <span>My Consultations</span>
    </a>
</li>

<!-- Doctor Menu -->

<!-- Team Admin Menu -->
</ul>
</div><!-- //canva-sidebar -->
