<details>
  {% if show_worsening === true %}
    <summary><span>What to do if it gets worse and self-care</span></summary>
  {% else %}
    <summary><span>Things to look out for and self-care</span></summary>
  {% endif %}

  <div class="care-advice-output">

    {% if show_worsening === true %}
      <h3>Breathlessness, worsening</h3>
      <div>
        <ul>
          <li>
            Sit as upright as is comfortable.
          </li>
          <li>
            If an inhaler or a spacer is used for chest problems, follow the
            instructions about &quot;what to do if your breathing gets worse&quot;.
          </li>
          <li>
            Never use medicines which have been prescribed for someone else.
          </li>
        </ul>
      </div>
    {% endif %}

    <h3>Breathlessness</h3>
    <div>
      <ul>
        <li>
          Sit as upright as is comfortable.
        </li>
        <li>
          If an inhaler or a spacer is used for chest problems, follow the
          instructions about &quot;what to do if your breathing gets worse&quot;.
        </li>
        <li>
          Never use medicines which have been prescribed for someone else.
        </li>
      </ul>
    </div>

    <h3>Medication, pain and/or fever</h3>
    <div>
      <ul>
        <li>
            Paracetamol or ibuprofen can be used to relieve pain or a fever.
            Don’t take if you’ve been told not to, or you’ve already taken some.
            Read the instructions on the packet, or talk to a pharmacist.
        </li>
      </ul>
    </div>

    <h3>Headache</h3>
    <div>
      <ul>
        <li>
          A heated pad or covered hot water bottle on the back of your neck may
          help ease the pain.
        </li>
        <li>
          Call 999 if:
          <ul>
            <li>
              The person becomes very drowsy, isn’t responding normally or is
              having a fit.
            </li>
            <li>
              The person becomes severely ill with new marks under the skin which
              look like bruising or bleeding.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</details>
