<div class="measure">
  <details>
    <summary><span>What to do if you’re not registered with a GP</span></summary>
    <div>
      <p>
        Find out <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/how-to-register-with-a-gp-practice/">how to register with a GP</a> if you don’t already have one.
      </p>
      <p>
        You can go to a local surgery and see a GP for an emergency appointment,
        without being registered.
      </p>
      <p>
        If you’re away from home you can register on a temporary basis.
      </p>
    </div>
  </details>
</div>
