<details>
  <summary><span>What to do if you start to feel worse</span></summary>
  <div>
  {% if acuity == "high" %}
    <ol>
      <li>Call 111</li>
      <li>Tell them 111 online said you needed to get help [timeframe].</li>
      <li>Tell them your symptoms have got worse and you need to speak to a nurse.</li>
    </ol>
    <p>
      You might have to start the questions again, or answer new questions about
      any new symptoms.
    </p>
  {% else %}
    <p>
      Choose the symptom that’s worrying you most and either use this service
      again or call 111.
    </p>
  {% endif %}
  <details>
    <summary><span>If you have problems hearing or speaking</span></summary>
    <div>
  <p>There are <a href="/deaf_speech/details-page" target="_blank">other ways you can contact 111</a> if you start to feel worse.
    </div>
</details>
  </div>
</details>
