{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">
    You and your family need to self-isolate
  </h1>

  <div class="callout callout--attention nhsuk-u-margin-bottom-6">
    <p>
      To protect others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
    <p>
      If you have a high temperature and other symptoms not related to cold or flu,
      <a href="#">check them using 111 online again.</a>
    </p>
  </div>

  <div class="callout callout--warning nhsuk-u-margin-bottom-6">
    <p>
      Testing is not needed if you are self-isolating.
    </p>
  </div>

  <h2 class="nhsuk-heading-l">To avoid spreading infection</h2>

  <h3 class="nhsuk-heading-m">
    If you live alone you must self-isolate for 7 days
  </h3>
  <p>
    Do not leave your home for 7 days from when your symptoms started, however
    mild they are.
  </p>
  <p>
    This means you must not leave your home for any reason, other than to
    exercise once a day – but stay at least 2 metres (3 steps) away from other
    people.
  </p>
  <p>
    If your temperature is still high after 7 days, stay at home until it’s back
    to normal.
  </p>

  <h3 class="nhsuk-heading-m">
    If you live with other people, they should self-isolate for 14 days
  </h3>
  <p>
    Although you need only self-isolate for 7 days, other people you live with
    should stay in for 14 days.
  </p>
  <p>
    If more than 1 person at home has symptoms, self-isolate for 14 days
    from the day the first person started having symptoms.
  </p>

  <h3 class="nhsuk-heading-s">
    Vulnerable people
  </h3>
  <p>
    Minimise as much as possible the time any vulnerable family members spend in
    shared spaces such as kitchens, bathrooms and sitting areas and keep shared
    spaces well ventilated.
  </p>
  <!--
  <p>
    If you can, move any vulnerable people (the elderly and those with underlying
    health conditions) out of your home, for the whole isolation period.
  </p>
  <p>
    If you cannot do this, stay away from vulnerable people as much as possible.
  </p>
  -->


  <div class="callout callout--info nhsuk-u-margin-bottom-6 nhsuk-u-margin-top-6">
    <p>
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more self-isolation advice on NHS.UK
      </a>
    </p>
  </div>

  <h2 class="nhsuk-heading-l">
    Get an isolation note to give to your employer
  </h2>
  <p>
    You can send an isolation note to your employer as proof you need to stay
    off work because of coronavirus.
  </p>
  <p>
    You do not need to get a note from a GP.
  </p>
  <p>
    <a class="nhsuk-action-link__link" href="https://111.nhs.uk/isolation-note">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Get an isolation note</span>
    </a>
  </p>

  <h2 class="nhsuk-heading-l">
    How to look after your symptoms at home
  </h2>

  <ul>
    <li>
      rest and drink plenty of fluids
    </li>
    <li>
      take paracetamol
    </li>
    <li>
      cover your mouth with a tissue when coughing or sneezing
    </li>
    <li>
      put used tissues in a bin
    </li>
    <li>
      wash your hands regularly with warm water and soap for at least 20 seconds
    </li>
  </ul>

  <p>
    If you feel you can’t cope with your symptoms at home, or your condition gets
    worse, use the 111 online service again.
  </p>


</div>

{% endblock %}

{% set suppress_feedback = true %}
